
    <div class="play-label">
        <div class="text">Play Again</div> 
    </div>
    <div class="play-again-container" style="height: auto;">
         <div class="play-again-grid" gdGap="20px" gdColumns="repeat({{columnNumber}}, 100px)" gdRows="repeat(1,100px)" >
            <div class="replay-box  replay-0">
                <div class="under"></div>
                <div class="overlay-title-wrapper">
                    <p class="title">Robot League Robogedon</p>
                </div>
                <div class="image image-0">
                    <img src="../../assets/img/playing_game_thumb.png" alt="" srcset="">
                </div>
            </div>
            <div  *ngFor="let box of numSequence(columnNumber - 1); let i = index" >
                <div class="replay-box  replay-{{i}}">
                <div class="under"></div>
                <div class="overlay-title-wrapper">
                    <p class="title">Fidget Surfers</p>
                </div>
                <div class="image image-{{i}}">
                    <img src="../../assets/img/playNow/play_now_{{i+1}}.png" alt="" srcset="">
                </div>
            </div>
         </div>
        </div>
        <div class="white-box"></div>
    </div>



