<div class="floorAd--container" id="floorAd--container" (scroll)="onScroll($event)" (mouseover)="mouseOver($event)" *ngIf="!adClosed">
  <div class="close-btn" (click)="closeAd()">x</div>
  <app-ad-banner  [ads]="ads"></app-ad-banner>
</div>