.floorAd--container{
    background: white;
    color:black;
    text-align: center;
    width: 500px;
    z-index: 5214748;
    left: 50%;
    transform: translateX(-50%);
    min-height: 2px;
    border: 2px solid white;
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    position: fixed;
    bottom: calc(-90px*0.4 + 1px);
    border: 0pt none;
    display: inline-block;
    width: 728px;
    height: 90px;
}
.close-btn{
    cursor: pointer;
    background:black ;
    color:white;
    font-size: 12px;
    position: absolute;
    width:20px;
    height: 20px;
    border-radius: 15px;
    right:-3px;
    top:-5px;
    text-align: center;
}