<div class="top-container">
    <div class="top-grid" style="height: auto;">
      <div gdGap="20px" gdColumns="repeat(11, 100px)" gdRows="repeat(4,100px)" >
        <div class="box subway" gdColumn="auto / span 2" gdRow="auto / span 2">
          <div class="video-icon-top">
            <img src="../../../../assets/img/category/camera_icon.png" alt="">
          </div>
          <div class="title-wrapper">
            <p class="title">Subway Surfers</p>
          </div>
        </div>
        <div class=" update"></div>
        <div class="box twoByOne_5" gdColumn="auto / span 2">
          <div class="title-wrapper">
            <p class="title">Moto X Surfers</p>
          </div>
        </div>
        <div class="box twoByTwo_9" gdColumn="auto / span 2" gdRow="auto / span 2">
          <div class="video-icon-top">
            <img src="../../../../assets/img/category/camera_icon.png" alt="">
          </div>
          <div class="title-wrapper">
            <p class="title">Basketball Surfers</p>
          </div>
        </div>
        <div class="box single_13">
          <div class="title-wrapper">
            <p class="title">Fidget Surfers</p>
          </div>
        </div>
        <div class="editor editor--2x3" gdColumn="auto / span 3" gdRow="auto / span 2" >
            <img class="label--2x3" src="../../../assets/img/labels/label_2.png" alt="">
            <div class="editor-wrapper">
              <div class="editor-container--2x3">
                <div class="overlay">
                  <p class="title">
                    Cut the Surfers
                  </p>
                </div>
                <img class="choice"src="../../assets/img/grid/special_frame_medium100px.png" alt="Editor's choice game"> 
               </div>
               <p class="choice-text_small">Editor's Choice</p>
            </div>
        </div>
        <div class="box single">
          <div class="title-wrapper">
            <p class="title">Fidget Surfers</p>
          </div>
        </div>
        <div class="box twoByTwo" gdColumn="auto / span 2" gdRow="auto / span 2">
          <div class="video-icon-top">
            <img src="../../../../assets/img/category/camera_icon.png" alt="">
          </div>
          <div class="title-wrapper">
            <p class="title">Crazy  Surfers</p>
          </div>
        </div>
        <div class="box single_14">
          <div class="title-wrapper">
            <p class="title">Game fers</p>
          </div>
        </div>
        <div class="box twoByOne"  gdColumn="auto / span 2">
          <div class="title-wrapper">
            <p class="title">Fidget Surfers</p>
          </div>
        </div>
        <div class=" candySwipe">

        </div>
        <div class=" upZone">

        </div>
        <div class="box single_11">
          <div class="title-wrapper">
            <p class="title">Cool Surfers</p>
          </div>
        </div>
        <div class="box single_15">
          <div class="title-wrapper">
            <p class="title">Name of The game Surfers</p>
          </div>
        </div>
        <div class="box single_16">
          <div class="title-wrapper">
            <p class="title">Fidget Surfers</p>
          </div>
        </div>
        <div class="box single_18">
          <div class="title-wrapper">
            <p class="title">Fidget Surfers</p>
          </div>
        </div>
        <div class="box single_20">
          <div class="title-wrapper">
            <p class="title">Fidget Surfers</p>
          </div>
        </div>
        <div class="box twoByOne_2" gdColumn="auto / span 2">
          <div class="title-wrapper">
            <p class="title">Fidget Surfers</p>
          </div>
        </div>
        <div class="box single_4">
          <div class="title-wrapper">
            <p class="title">Fidget Surfers</p>
          </div>
        </div>
        <div class="box single_7">
          <div class="title-wrapper">
            <p class="title">Fidget Surfers</p>
          </div>
        </div>
        <div class="box single_8">
          <div class="title-wrapper">
            <p class="title">Fidget Surfers</p>
          </div>
        </div>
        <div class="box single_10">
          <div class="title-wrapper">
            <p class="title">Fidget Surfers</p>
          </div>
        </div>
        <div class="box twoByOne_12" gdColumn="auto / span 2">
          <div class="title-wrapper">
            <p class="title">Fidget Surfers</p>
          </div>
        </div>
        <div class="box single_17">
          <div class="title-wrapper">
            <p class="title">Fidget Surfers</p>
          </div>
        </div>
        <div class="box single_19">
          <div class="title-wrapper">
            <p class="title">Fidget Surfers</p>
          </div>
        </div>
        <div class="box single_21">
          <div class="title-wrapper">
            <p class="title">Fidget Surfers</p>
          </div>
        </div>

      </div>
    </div>
  </div>
  