<div  *ngIf="footer.visible" class="footer">
    <div class="footer--wrapper">
        <div class="logo ">
            <a href="/" title="Kiloo.com">
                <img class="logo-main" src="../../assets/img/logo_header.png" alt="Kiloo.com">
            </a>

        </div>
        <p class="links">
           <a routerLink="/privacy-policy" target="_blank" rel="noopener noreferrer"><span>PRIVACY POLICY</span></a>  |     <a routerLink="/user-terms" target="_blank" rel="noopener noreferrer"> <span>USER TERMS </span></a> | <span> YOUR Consent</span> | <span> Press</span> | <span>Business Inquries</span> | <a routerLink="/games"> <span>All Games</span></a>  |  <a routerLink="/about" target="_blank" rel="noopener noreferrer"><span>About Us</span></a> 
            
        </p>
        <div class="side_ad" ></div>
    </div>

</div>
