.footer{

    background-color: #1f252d;
    height: 362px;
    width: 100vw;
    bottom: 0;
    padding-top:30px;
    @media only screen and (max-width: 1041px){
        width: 100%;
    }
    &--wrapper{
        max-width: 1300px;
        width: 1300px;
        margin: 0 auto;

        .logo{
            display: table;
            margin: 40px auto;
            
        }

        .links{
            margin: 0 auto;
            text-transform: uppercase;
            display:table;
            color:#fff7b5;
            font-family: futura-pt, sans-serif;
            font-size: 16pt;
            a{
                color:#fff7b5;
            }
        }

        @media only screen and (min-width: 1500px) {
            width: 1300px;
        }
        @media only screen and (max-width: 1501px) and (min-width: 1400px){
            width: 1180px;
            .links{
                font-size:15pt;
            }
        }
        @media only screen and (max-width: 1401px) and (min-width: 1280px){
            width: 1060px;
            .links{
                font-size:14pt;
            }
        }
        @media only screen and (max-width: 1281px) and (min-width: 1160px){
            width: 940px;
            .links{
                font-size:13pt;
            }
        }
        @media only screen and (max-width: 1161px) and (min-width: 1040px){
            width: 820px;
            .links{
                font-size:11pt;
            }
        }
        @media only screen and (max-width: 1041px) and (min-width: 920px){
            width: 700px;
            .links{
                font-size:10pt;
            }
        }
        @media only screen and (max-width: 921px) {
            width: 700px;
            .links{
                font-size:10pt;
            }
        }
        
   

    }


    .side_ad {
        display: none;
        width: 742px;
        height: 102px;
        background-image: url(../../assets/img/ad.png);
        z-index: 5214748;
        left: 50%;
        transform: translateX(-50%);
        border-bottom: none;
        box-shadow: 0 0 1px rgba(0,0,0,0.5);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
        position: fixed;

    }
}
