
.toggle{
    width:100%;
    text-align:right;
    background:white;
    padding:10px 20px;
    box-sizing:border-box;
    display:none;
}

nav{
    
    .search-container{

        display: flex;
        flex-direction: row;
        right: 0;

  

        .searchbox{
            height: 36px;
            position: absolute;
            right: 40px;
            top: 7px;
                input:focus {
                    outline: none;
                }
                input{
                    z-index: 0;
                    height: 36px;
                    background:#f1f3f4;
                    border-radius: 25px;
                    width: 300px;
                    border: 2px solid #f1f3f4;
                    @media only screen and (max-width: 1161px) and (min-width: 1040px){
                        width:43px;
                    }
                    @media only screen and (max-width: 1041px) and (min-width: 920px){
                        width:43px;
                    }
                    @media only screen and (max-width: 921px) {
                        width:43px;
                    }
                    background: url('../../assets/img/grid/search_icon.png') top left no-repeat;
                    background-color: #f1f3f4;
                    background-size: 30px;
                    background-position: 9px 0px;
                    
                    
                    
                }
                .search{
                    &::placeholder{
                        color:#d5d5d5;
                    }
                    font-weight: 400; 
                    padding-left: 50px;
                    font-size: 17pt;
                    font-family: futura-pt-bold, sans-serif;
                    z-index: 3;
                    margin-right: 5px;
                    
                }
                
                .search-results{
                    width: 99.5%;
                    background: white;
                    border-radius: 18px;
                    padding: 0;
                    li:hover{
                         background: #9debfc;
                         cursor: pointer;
                         border-radius: 18px;
                    }
                    li.category::after{
                        content: "";
                        display: block;
                        position: absolute;
                        top: 61px;
                        margin-top: 3px;
                        transform: translateX(-50%);
                        left: 50%;
                        border-radius: 18px;
                        width: 97%;
                        border-bottom: 3px solid #bbb;
                    }
                    li{


                        text-transform: uppercase;
                        letter-spacing: 2px;
                        display: flex;
                        flex-direction: row;
                        height: 60px;
                        font-family: futura-pt-bold, sans-serif;
                        font-size: 18px;
                        color:#848484;
                        align-items: center;

       
                        /* background: #9debfc; */
                        margin: 3px 4px;
                        padding: 5px;

                        &.bottom{
                            margin: 0;
                            text-align: center;
                            border-radius: 0;
                            background: #1883a0;
                            padding: 0;
                            border-bottom-right-radius: 18px;
                            border-bottom-left-radius: 18px;
                            .bottom-text{
                                width: 100%;
                                color: white;
                            }
                        }
                        hr.rounded {
                            border-top: 8px solid #bbb;
                            border-radius: 5px;
                        }
                        .image-placeholder{
                            background-color: #84848484;
                            width: 50px;
                            height: 50px;
                            border-radius: 10px;
                        }
                        .text-placeholder{
                            margin-left: 10px;
                        }
                        
                    }
                }
    
            }





        .language-box{
            right:0px;
            top: 7px;
            position: absolute;
            .languages{
                cursor: pointer;
                z-index: 9999;
  
                border-radius: 50%;
                height: 38px;
            
            }
        }

    }


    .nav-container{
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        @media only screen and (min-width: 1500px) {
            width: 1300px;
        }
        @media only screen and (max-width: 1500px) and (min-width: 1400px){
            width: 1180px;
        }
        @media only screen and (max-width: 1400px) and (min-width: 1280px){
            width: 1060px;
        }
        @media only screen and (max-width: 1280px) and (min-width: 1160px){
            width: 940px;             
        }
        @media only screen and (max-width: 1160px) and (min-width: 1040px){
            width: 820px ;
        }
        @media only screen and (max-width: 1040px) {
            width: 700px;
        }
    }

    .language-container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .selection_list{
        position: absolute;
        left: -247px;
        top: 45px;
        border-bottom-left-radius: 18px;
        border-bottom-right-radius: 18px;
        background: #1f252d;
        color: white;
        padding: 17px;
    }
    .language-icon{
        width:37px;
        height:37px;
        border-radius:50%;
        cursor: pointer;
    }
        width:100%;
        height: 55px;
        background: #1f252d; 
        position:sticky;
        top:-1px;
        z-index: 99999;
        
        @media only screen and (max-width: 1160px) {
            width: 100VW;
        } 
        ul{
            
            position: absolute;
            max-width: 1300px;
            padding:0;
            padding-top:12px;
            
            .logo{

                z-index: 9999;
                left:0;
                top:0;
                float: left;
                &-main{
                    height:23px;       
                }
            }
            li{
                overflow: visible;
                display:inline-block;
                padding:0 40px;
                list-style:none;
                text-align: left;
                vertical-align: middle;
                &#pic{
                    padding-left: 0 !important;
                    padding-right: 80px;
                    width: 240px;

                    @media only screen and (max-width: 1281px) and (min-width: 1160px){
                        width: 187px;
                    }
                    @media only screen and (max-width: 1161px) and (min-width: 1040px){
                        width: 187px;
                    }
                    @media only screen and (max-width: 1041px) and (min-width: 920px){
                        width: 187px;
                    }
                    @media only screen and (max-width: 921px) {
                        width: 187px;
                    } 
                }
                //Button 
                &.a_games{
                    width: 160px;
                    background:url('../../assets/img/a_games.png') no-repeat;
                    height:28px;
                    background-position: 10px 0;
                    background-size: auto 27px;
                    @media only screen and (max-width: 1281px) and (min-width: 1160px){
                        width: 132px;
                    }
                    @media only screen and (max-width: 1161px) and (min-width: 1040px){
                        width: 132px;
                    }
                    @media only screen and (max-width: 1041px) and (min-width: 920px){
                        width: 132px;
                    }
                    @media only screen and (max-width: 921px) {
                        width: 30px;
                        color: transparent;
                    } 
                }
                &.a_categories{
                    width:160px;
                    background: url('../../assets/img/a_categories.png') no-repeat;
                    height:28px;
                    background-position:3px 0px;
                    background-size: auto 27px;
                    @media only screen and (max-width: 1281px) and (min-width: 1160px){
                        width: 132px;
                    }
                    @media only screen and (max-width: 1161px) and (min-width: 1040px){
                        width: 132px;
                    }
                    @media only screen and (max-width: 1041px) and (min-width: 920px){
                        width: 132px;
                    }
                    @media only screen and (max-width: 921px) {
                        width: 30px;
                        color: transparent;
                    } 
                }
                &.sub{
                    background: url('../../assets/img/sub.png') no-repeat;
                    height:28px;
                    background-position:10px 0px;
                    background-size: auto 27px;
                    @media only screen and (max-width: 921px) {
                        width: 30px;
            
                    } 
                }
                
                &#subway{
                    padding-right: 0 !important;
                }
                &.s_field{
                    float: right;
                    transform: translatey(-3px);
                    padding-right:  0 !important;
                    padding-left: 30px;
                }
                a{
                    color:white;
                    text-decoration:none;
                }
    
            }

        
            .menu-btn{
                font-size: 15px;
                font-family: futura-pt-bold, sans-serif;
                color:white;
                text-transform: uppercase;
                line-height: 97%;
                @media only screen and (max-width: 921px){
                    color:transparent;
                }
            }



    }


}




 


///@at-root
