
  <!--Navigation Start-->
  <nav *ngIf="navGame.visible" >
    <div class="nav-container">
      <ul id="toggleul">
        <li class="pic" id="pic">
          <div class="logo ">
            <a href="/main" title="Kiloo.com">
                <img class="logo-main" src="../../assets/img/logo_header.png" alt="Kiloo.com">
            </a>
          </div>
        </li>
        <a routerLink="games">
          <li class="a_games" id="games">
            <div class="menu-btn"> All <br> Games</div>
          </li>
        </a>
        <a routerLink="categories">
          <li class="a_categories" id="categories">
            <div class="menu-btn">All <br> Categories</div>
          </li>
        </a>
        <a href="#">
          <li class="sub" id="subway"><a href="#">
            <div class="menu-btn">Subway <br> Surfers</div></a>
          </li>
        </a>

      </ul>

    <div class="search-container">
      <app-search-bar></app-search-bar>
    </div>


    </div>
  </nav>
