<div class="game-page">
    <div class="game-frame-container">
        <div class="top-grid" style="height: auto;">
         <div gdGap="20px" gdColumns="repeat({{columnNumber}}, 100px)" gdRows="repeat({{rowsNumber}},100px)" >
            <div flex-order-gt-md="2" class="box box--1 play-1 ">
                <div class="title-wrapper">
                    <p class="title">Fidget Surfers</p>
                </div>
            </div>
            <div flex-order-gt-md="3" class="box box--2 play-2 ">
                <div class="title-wrapper">
                    <p class="title">Fidget Surfers</p>
                </div>
            </div>
            <div class="iframe" flex-order-gt-md="-1" gdColumn="{{gridPos.x}}" gdRow="{{gridPos.y}}"> 
                <div  id="iframe-wrapper"  class="iframe--game">
                    <div *ngIf="isFullScreen" class="bar"> 
                        <div class="bar-wrapper">
                            <div class="image">
                                <img src="{{game.pictureLink}}" alt="">
                            </div>     
                            <div class="text">
                                <p class="game-name">{{game.name.length>30 ? (game.name | slice:0:30)+'...':(game.name) }}</p>
                                <p class="dev-name">{{game.developer}} <br>
                                <a class="privacy-link" href="https://fundayfactory.com/media/206274/privacy-policy.pdf">Privacy Policy</a>
                                </p>
                            </div>
                            <div class="ad">
                                <app-full-ad></app-full-ad>
                            </div>
                            <div class="vote-section">
                                <div class="like" [ngClass]="{'liked':liked === true}" (click)="onLike(game)" >
                                    <img class="thumbColor" [ngClass]="{'active-thumb':liked === true}"  src="../../assets/img/thumb_up.png" alt="">
                                    <p>{{game.likes}}</p></div>
                                <div class="dislike" [ngClass]="{'disliked':disliked === true}" (click) = "onDislike(game)"   >
                                    <img class="thumbColor" [ngClass]="{'active-thumb':disliked === true}"  src="../../assets/img/thumb_down.png" alt="">
                                   <p>{{game.dislikes}}</p> 
                                </div>
                            </div>    
                        </div>
                        <div class="right-side">
                            <div class="game-play-button--small"></div>
                            <div class="full-screen-exit-button" *ngIf="isFullScreen" (click)="closeFullscreen()"></div>
                        </div>
                    </div>
                    <iframe  id="iFrame" [src]="game.iframeLink | safe" frameborder="0" style="z-index: 3;"></iframe>
                    <img src="../../assets/img/ad_2.png" *ngIf="!clicked"class="ad" alt="">
                    <p class="text-waiting" *ngIf="!adWatched">{{message}}</p>
                </div>
                <div class="iframe--bottom" id="iframe--bottom" #iframeContainer >
                    <div class="game-wrapper">
                        <div class="play-button" id="play-button" (click)="playClick()"  
                        [ngClass]="{'play-button-clicked':clicked}">   
                            <div class="game-play-button">
                                 <div *ngIf="!clicked && adWatched == true " class="button-highlight"></div>
                            </div>
                           
                        </div>
                        <div class="full-screen-button"  *ngIf="!isFullScreen" (click)="openFullscreen()"></div>
                        <div class="image">
                            <img src="{{game.pictureLink}}" alt="">
                        </div>
                        <div class="text">
                            <p class="game-name">{{game.name.length>26  ? (game.name | slice:0:26)+'...':(game.name) }}</p>
                            <p class="dev-name">{{game.developer}} <br>
                            <a class="privacy-link" href="https://fundayfactory.com/media/206274/privacy-policy.pdf">Privacy Policy</a>
                            </p>
                         
                            <div class="vote-section">
                                <div class="like" [ngClass]="{'liked':liked === true}" (click)="onLike(game)" >
                                    <img class="thumbColor" [ngClass]="{'active-thumb':liked === true}"  src="../../assets/img/thumb_up.png" alt="">
                                    <p>{{game.likes}}</p></div>
                                <div class="dislike" [ngClass]="{'disliked':disliked === true}" (click) = "onDislike(game)"   >
                                    <img class="thumbColor" [ngClass]="{'active-thumb':disliked === true}"  src="../../assets/img/thumb_down.png" alt="">
                                   <p>{{game.dislikes}}</p> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div  *ngFor="let box of numSequence(16); let i = index" class="box box--{{i+3}} play-{{i+3}}  ">
                <div class="title-wrapper">
                    <p class="title">Fidget Surfers</p>
                </div>
            </div>
            <div class="box box--19 twoByOne_2" gdColumn="auto / span 2">
                <div class="title-wrapper">
                    <p class="title">Fidget Surfers</p>
                </div>
            </div>
            <div  *ngFor="let box of numSequence(21); let i = index" class="box box--{{i+20}} play-{{i+19}}  ">
                <div class="title-wrapper">
                    <p class="title">Fidget Surfers</p>
                </div>
            </div>
         
        </div>
        <app-play-again></app-play-again>

      </div>

      </div>
      
   
    <app-hot-game-page></app-hot-game-page>
    <app-categories-game></app-categories-game>
    <app-text-game [gn]="game.name"></app-text-game>
</div>