@import "../../assets/css/sboxes.scss";



.text-waiting{
    font-family: futura-pt-bold, sans-serif;
    position: absolute;
    right: 10px;
    bottom: 0;

}
.ad{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.game-frame-container{
    margin-top: 40px;
}
.full-screen{
    width: 100vw;
    height: 100vh;
    position: relative;
}
.iframe{

    background:black;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius:18px;
    &--game{
        height: 525px;
        overflow: hidden;
        position: relative;
        background:black;
        & iframe{
            border: 0;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }
    &--bottom{

        background: linear-gradient(0deg, rgba(45,136,0,1) 0%, rgba(45,136,0,1) 50%, rgba(73,181,24,1) 100%);
        border-bottom-left-radius: 18px;
        border-bottom-right-radius:18px;
        width: 100%;
        height: 175px;
        position: relative;
        bottom: 0;
        left:0;
   
        & .game-wrapper{
            .text{
                transform: translateY( -8px);
                .vote-section{
                color: #798089;
                font-family: futura-pt-bold, sans-serif;
                font-size: 17px;
                transform: translate(558px, -144px);
                display: flex;
                flex-direction: row;
                height: 100px;
                width: 130px;
                    .like{
                        height: 48px;
                        width: 60px;
                        border-radius: 10px;
                        align-items: center;
                        margin-right: 7px;
                        background-color: #eeeeee;
                        cursor: pointer;
                        align-items: center;
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        p{
                            margin-bottom:-5px;
                        }
                    }
                    .thumbColor{
                        filter: invert(51%) sepia(7%) saturate(502%) hue-rotate(174deg) brightness(96%) contrast(89%);
                    }
                    .active-thumb{
                        filter:none !important;
                    }
                    .liked{
                        background-color:#48ac19;
                        color:white;
                    }
                    .disliked{
                        background-color:#e15f40ff !important;
                        color:white;
                        
                    }
                    .dislike{
                        height: 48px;
                        width: 60px;
                        border-radius: 10px;
                        background-color: #eeeeee;
                        cursor: pointer;
                        align-items: center;
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        p{
                            margin-bottom:-5px;
                        }
                    }
                }
                .privacy-link{
                    & a{
                        @extend .privacy-link;
                        color: #798089;
                    }
                    font-size:12px;
                    color: #798089;
                    line-height: 95%;
                    position: absolute;
                    transform: translateY(0px);
                }
                .game-name{
                    color: #4d4d4b;
                    font-size: 26px;
                    font-family: futura-pt-bold, sans-serif;
                    transform: translate(175px, -50px);
                }
                .dev-name{
                    color: #798089;
                    font-size: 20px;
                    font-family: futura-pt-bold, sans-serif;
                    transform: translate(175px, -75px);
                }
            }
            .image{
                width: 163px;
                height: 163px;
                position: absolute;
                border-radius: 18px;
                /* position: relative; */
                justify-content: center;
                align-items: center;
                transform: translate(6px, -128px);

                &>img{
                    margin-top: 17px;
                    margin-left: auto;
                    margin-right: auto;
                    display: block;
                }
            }
            & .game-play-button{
                position: relative;
                overflow: hidden;
                height:  70px;
                border-radius: 18px;
                width: 449px;
                transform: translate(177px, 6px);
                background-image: url('../../assets/img/play_btn.png') ;
                background-repeat: no-repeat;
                cursor: pointer;
            }
            & .full-screen-button{
                position: relative;
                height: 63px;
                width: 63px;
                transform: translate(631px, -64px);
                background-image: url('../../assets/img/full_screen_btn.png') ;
                background-repeat: no-repeat;
                cursor: pointer;
            }
            height: 100%;
            position: relative;
            background-image: url('../../assets/img/game_bar_bg.png') ;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

}

.box {

    border-radius: 18px;
    cursor: pointer;
    padding: 0;
    font-size: 150%;
    box-shadow: 0px 5px 7px 7px rgba(0, 0, 0, 0.1);
    background-size:cover;
    border: 2px solid #e4fdff;
    overflow: hidden;

    &_wide{
        @extend .box;
        background-size: fit;
    }
    transition: transform 300ms ease-in-out;
    
}

.box:hover{
    transform: scale(1.05);
    
}

.bar{
    width: 100%;
    height: 90px;
    background: linear-gradient(0deg, rgba(45,136,0,1) 0%, rgba(45,136,0,1) 50%, rgba(73,181,24,1) 100%);
    bottom:0;
    color:black;
    position: absolute; z-index: 10000;
    display: inline-block;
    align-content: center;
    align-items: center;
    justify-items: center;

    .bar-wrapper{
        width: calc(100% - 293px);
        height:90px;
        background:white;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        justify-items: center;
        display: flex;
        flex-wrap: wrap;
        @media only screen and  (max-width: 1700px){
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        .ad{
            display: inline-block;
            background-color: grey;
            color: white;
            font-family: futura-pt-bold,sans-serif;
            width: 728px;
            height: 90px;
            bottom: 0;
            margin-left: calc(100% - 1400px);

            @media only screen and (min-width: 1400px) and (max-width: 1700px){
                margin-left: calc(100% - 729px);
            }
            @media only screen and (max-width: 1450px){
                margin-left: calc(100% - 728px);
            }

        }
    }
    .text{
        display: inline-block;
        margin-left: 90px;
        @media only screen and (max-width: 1535px){
            display:none;
        }
        .privacy-link{
            font-size:12px;
            color: #798089;
            line-height: 95%;
            position: absolute;

        }
        .game-name{
            color: #4d4d4b;
            font-size: 26px;
            margin-bottom: 0;
            margin-top: 12px;
            line-height: 90%;
            font-family: futura-pt-bold, sans-serif;
        }
        .dev-name{
            color: #798089;
            font-size: 20px;
            margin-bottom: 0;
            font-family: futura-pt-bold, sans-serif;
        }
    }
    .image{

        position: absolute;
        border-radius: 18px;
        /* position: relative; */
        justify-content: center;
        align-items: center;
        margin-left: 14px;
        @media only screen and (max-width: 1535px){
            display:none
        }
        &>img{
            margin-top: 13px;
            margin-left: auto;
            margin-right: auto;
            display: block;
            width: 66px;
            height: 66px;
        }
    }


    .vote-section{
        color: #798089;
        font-family: futura-pt-bold, sans-serif;
        font-size: 17px;
        margin:auto 0;
        transform:translateY(-84px);
        margin-left: calc(100% - 150px);
        margin-top: 14px;
        display: flex;
        flex-direction: row;
        height: 100px;
        width: 130px;
        @media only screen and (max-width: 1700px){
            display: none;
        }
            .like{
                height: 48px;
                width: 60px;
                border-radius: 10px;
                align-items: center;
                margin-right: 7px;
                background-color: #eeeeee;
                cursor: pointer;
                align-items: center;
                display: flex;
                justify-content: center;
                flex-direction: column;
                p{
                    margin-bottom:-5px;
                }
            }
            .thumbColor{
                filter: invert(51%) sepia(7%) saturate(502%) hue-rotate(174deg) brightness(96%) contrast(89%);
            }
            .active-thumb{
                filter:none !important;
            }
            .liked{
                background-color:#48ac19;
                color:white;
            }
            .disliked{
                background-color:#e15f40ff !important;
                color:white;
                
            }
            .dislike{
                height: 48px;
                width: 60px;
                border-radius: 10px;
                background-color: #eeeeee;
                cursor: pointer;
                align-items: center;
                display: flex;
                justify-content: center;
                flex-direction: column;
                p{
                    margin-bottom:-5px;
                }
            }
        }

        .right-side{
            position: absolute;
            bottom: 14px;
            display: flex;
            flex-direction: row;
            right: 14px;
            .game-play-button--small{
                height: 62px;
                margin-right: 5px;
                width:200px;
                background-image: url('../../assets/img/play_btn_small.png') ;
                background-repeat: no-repeat;
                cursor: pointer;
            }
             .full-screen-exit-button{
                height: 62px;
                width: 62px;
                background-image: url('../../assets/img/full_screen_exit_btn.png') ;
                background-repeat: no-repeat;
                cursor: pointer;
            }
        }
}


//linear-gradient(0deg, rgba(255,255,255,0) 23%, rgba(0,0,0,0.2777485994397759) 45%, rgba(0,0,0,0.6474964985994398) 100%); --- Small Friendly
// -- GoodVersion 
.title-wrapper {
    opacity: 0;
    background: linear-gradient(0deg, rgba(255,255,255,0) 39%, rgba(0,0,0,0.19931722689075626) 62%, rgba(0,0,0,0.6474964985994398) 100%); 
    height: 100%;
    width: 100%;
    text-align:center;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    .title{
        opacity: 0;
        font-family: futura-pt-bold, sans-serif;
    }
    
}
.title-wrapper:hover{
    opacity: 1;
    transition: 0.1s ease-in-out;
    .title{
        opacity: 1;
        transition: 0.2s ease-in-out;
        font-size:16px;
        &__small{
            @extend .title;
            padding-top:5px;
            line-height: 97%;
            font-size: 16px;
        }
    }

}



//animation Highlight 

$from: 15px;
$to: 100%;
$endat: 50%;

@-webkit-keyframes webkit-anim {
  0% {
    left: $from;
  }
  50% {
    left: $to;
  }
  100% {
    left: $to;
  }
}

@-moz-keyframes moz-anim {
  0% {
    left: $from;
  }
  50% {
    left: $to;
  }
  100% {
    left: $to;
  }
}

@-o-keyframes o-anim {
  0% {
    left: $from;
  }
  50% {
    left: $to;
  }
  100% {
    left: $to;
  }
}

@keyframes anim {
  0% {
    left: $from;
  }
  50%  {
    left: $to;
  }
  100% {
    left: $to;
  }
}

@mixin animationVendor($args){
  -webkit-animation: webkit-anim $args;
  -moz-animation: moz-anim $args;
  -o-animation: o-anim $args;
  animation: anim $args;
}
.play-button{
    position: relative;
    overflow: hidden;
    width: 626px;

    cursor: pointer;
}
.play-button-clicked{
    opacity: 0.75;
}


  
.button-highlight {
    @include animationVendor(1.5s linear infinite);
    position: absolute;
    left: $from; // Found in highlight-anim.less
    height: 57px;
    width: 128px;
    background-image: url("../../assets/img/highlight.png");
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(-13px);
    opacity: 0.7;
  }

  .loading_sequence{
      background-color: black;
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 99999999;
      color:white;
      font-size: 100px;
      text-align: center;
  }

  .grey{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    cursor: none;
  }