.modal-back{
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.5;
    z-index: 1;

}
.close{
    color:black;
    cursor: pointer;
}
.modal-dialog{
    position: absolute;
    top: 300px;
    left: 33%;
    z-index: 2;
    opacity: 1;
    height: 200px;
}

.detection-wrapper{
    position: absolute; overflow-y:scroll;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
    z-index: 1232313123;
}