<div class="detection-wrapper">

    <div class="modal-back">

    </div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div (click)="setHide()" class="close">
                    x
                </div>
                <h1 style="font-family: futura-pt-bold;font-size: 30px;color: #00537d;">Welcome to Kiloo</h1>
                <div style="font-family: futura-pt-bold;color: #00537d;font-size: 18px; margin: 10px 0;">
                    Please allow ads on our site
                    Looks like you're using an ad blocker. We rely on advertising to help fund our site.
                    <br>
                    <br>
                   Please Disable AdBlocker on the website then click refresh 
                </div>
                <button type="button" (click)="refresh()" class="btn btn-primary">Refresh</button>
            </div>
        </div>
    </div>
    
</div>
