<div class="search-result-container">
    <h1 class="search-title category_title"> {{numSequence(32).length}} results found for "{{searchCriteria}}"</h1>

    <h1 class="category_title">
        GAMES
    </h1>
    <div class="game-container" >
        <div gdGap="20px" gdColumns="repeat(auto-fill, minmax(100px, 1fr))" gdRows="repeat(auto-fill, minmax(100px, 1fr))">
            <div   *ngFor="let box of numSequence(32); let i = index" class="box game-container play-{{i+1}}">
                <div class="title-wrapper">
                    <p class="title">Game Surfers</p>
                </div>
            </div>

        </div>
    </div>
    <app-categories-search></app-categories-search>
</div>