@import '../../assets/css/sboxes.scss';
@for $icon  from 1 through 66 {
  .play-#{$icon} {
    background-image: url(../../assets/img/playNow/play_now_#{$icon}.png);
  }
}

.search-result-container{
    .search-title{
        font-size:30px;
        font-family: futura-pt-bold, sans-serif;
    }
    .category_title{
        margin-top: 20px;
    }
    
    .box {
        position: relative;
        border-radius: 18px;
        padding: 0;
        font-size: 150%;
        max-height: 100px;
        box-shadow: 0px 5px 7px 7px rgba(0, 0, 0, 0.1);
        background-size:cover;
        border: 2px solid #e4fdff;
        overflow: hidden;
        cursor: pointer;
    }
 

    .box:hover{
        transform: scale(1.05);
        
    }

    
   

    .label{

        position: absolute;
        transform: translate(190px, -53px);
        height: 58px;

        &_2{
            @extend .label;
            transform: translate(225px, -54px);
        }
        &--3x3{
            @extend .label;
            transform: translate(128px, -138px);
        }
        &--2x3{
            @extend .label;
            transform: translate(215px, -60px) scale(0.8);
        }
        &--2x2{
            @extend .label;
            transform: translate(69px, -77.5px);
        }
    }
        
    @media only screen and (min-width: 1500px) {
        width: 1300px;
    }
    @media only screen and (max-width: 1501px) and (min-width: 1400px){
        width: 1180px;
    }
    @media only screen and (max-width: 1401px) and (min-width: 1280px){
        width: 1060px;
    }
    @media only screen and (max-width: 1281px) and (min-width: 1160px){
        width: 940px;
    }
    @media only screen and (max-width: 1161px) and (min-width: 1040px){
        width: 820px;
    }
    @media only screen and (max-width: 1041px) and (min-width: 920px){
        width: 700px;
    }
    @media only screen and (max-width: 921px) {
        width: 580px;
    }

  
    
}

