.about-text{

    color: #00537d;
    margin-right: -1px;
    background: #fff;
    border-radius: 15px;
    padding: 35px 30px 35px 30px;
    width: 911px;
    margin-top: 200px;
    margin-bottom: 200px;

    @media only screen and (min-width: 1500px) {
        width: 1300px;
    }
    @media only screen and (max-width: 1501px) and (min-width: 1400px){
        width: 1180px;
    }
    @media only screen and (max-width: 1401px) and (min-width: 1280px){
        width: 1060px;
    }
    @media only screen and (max-width: 1281px) and (min-width: 1160px){
        width: 940px;
    }
    @media only screen and (max-width: 1161px) and (min-width: 1040px){
        width: 820px;
    }
    @media only screen and (max-width: 1041px) and (min-width: 920px){
        width: 700px;
    }
    @media only screen and (max-width: 921px) {
        width: 580px;
    }
    /*
  

    @media only screen and (max-width: 1615px) and (min-width: 1454px){
        width: 1140px;
    }
    @media only screen and (max-width: 1445) and (min-width: 953px){
        width: 911px;
    }
    */
}