<div class="about-text">
    <p class="seo-section-title">    
        Your New Platform For Fun Online Games
    </p>    

  

    <p class="seo-section-text">

        Kiloo.com is a brand new platform for amazing online games. All games on the website are free and can be played on different devices, whether you prefer mobile, tablet, or desktop, so the only thing you have to worry about is choosing your new favorite game and start playing!

        On Kiloo.com you will find all the most exciting online games categories, like thrilling shooting games, addicting cool games, adrenaline-infused racing games, challenging thinking games, high flying airplane games, and many, many more. We hand-pick the best games on the web for you and compile them all in one place. Browse our collection of cool, colorful, and catchy HTML5 titles and let the gaming fun begin!
        <br>     
    </p>
        <p class="seo-section-subtitle">  Kiloo Play & Its Relation to Kiloo A/S</p>  

    <p class="seo-section-text">
        The kiloo.com website is an independent web games platform operated and owned by Kiloo Play ApS. We have more than 18 years of experience developing games and apps for numerous platforms. Both the website and the company originate from Kiloo A/S, the mobile games developer and publisher of Dragons & Diamonds, Jelly Copter, Dawnbringer, Spellbinders, Tesla Tubes, Stormblades, Smash Champs, the Frisbee® Forever series, Bullet Time, and Subway Surfers. If you want to know more about Kiloo A/S, please go to kiloogames.com
    </p>   
    <p class="seo-section-subtitle">   Kiloo Play Contact Information</p>  
    <p class="seo-section-text">
        Kiloo Play ApS <br>
        Registration number: 40025049 <br>
        Bülowsgade 68, 8000 Aarhus C, Denmark <br>
        E-mail: support@kilooplay.com<br><br>
        
        You are always welcome to contact us if you have questions regarding Kiloo Play and the Kiloo.com gaming platform.
    </p>  
 
 

</div>


