@import "../../assets/css/sboxes.scss";
@for $icon  from 1 through 66 {
    .play-#{$icon} {
      background-image: url(../../assets/img/playNow/play_now_#{$icon}.png);
    }
  }

  //// Play Again Section
        .play-again-grid{
            margin-top: 15px;
          //  background: white;
            background-size: 200px 100px;
         //   border-radius: 18px;
        }
        .overlay-title-wrapper {
            opacity: 0;
            position: absolute;
            background: linear-gradient(0deg, rgba(255,255,255,0) 39%, rgba(0,0,0,0.19931722689075626) 62%, rgba(0,0,0,0.6474964985994398) 100%); 
            height: 90px;
            width: 90px;
            border-top-left-radius: 18px;
            border-top-right-radius: 18px;
            text-align:center;
            -webkit-user-select: none; /* Safari */        
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* IE10+/Edge */
            user-select: none; /* Standard */
            .title{
                opacity: 0;
                font-family: futura-pt-bold, sans-serif;
            }
            
        }
        .overlay-title-wrapper:hover{
            opacity: 1;
            transition: 0.1s ease-in-out;
            .title{
                opacity: 1;
                transition: 0.2s ease-in-out;
                font-size:16px;
                &__small{
                    @extend .title;
                    padding-top:5px;
                    line-height: 97%;
                    font-size: 16px;
                }
            }

        }
        .replay-box:hover{  
            transition:  300ms ease-in-out;
            transform: translateX(-10px) scale(1.05);
/*             .image-0{
                border:0;
                margin-left:0px;
                margin-right:10px;
            }
 */
     
        }

        .replay-box{
      
            //background-color: white;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0px !important;
            z-index: 2;
            width: 121px;
            height: 100px;
            cursor: pointer;
            transform: translatex(-10px);
            .image{
                border: 5px solid white;
                margin-left: -5px;
                border-radius: 18px;
                img{
                    
                    width: 90px;
                    height: 90px;
                    border-radius: 18px;
                }
                img:hover{  
                    transition: transform 300ms ease-in-out;
                    transform: scale(1.05);
                }

                
            }
            
        }
        
        .under{
            background-color:red;
            width:100%;
            position: absolute;
            z-index: -1;
        }
        /*
        .under:first-child{
            background-position-y: -10px;
            border-top-left-radius: 18px;
            border-bottom-left-radius: 18px;
            transform: translatex(-1px);
        }

        .under:last-child{
            border-top-right-radius: 18px;
            border-bottom-right-radius: 18px;
            transform: translatex(-21px);
        }
    
    */

    .label{
        width: 220px;
        height:70px;
        transform:translateY(0px);
        background: linear-gradient(0deg, rgba(255,211,93,1) 0%, rgba(255,247,178,1) 100%);
        border-bottom-right-radius: 18px;
        border-bottom-left-radius: 18px;
        display: flex;
        justify-items: center;
        align-content: center;
        justify-content: center;

        .text{
            padding-top:15px;
            color:#ae5000;
            font-size: 22pt;
            font-family: futura-pt-bold, sans-serif;
        }
    }
 
    .white-box{
    width: 1300px;
    border-radius: 22px;
    background: white;
    height: 100px;
    position: absolute;
    z-index: -1;
    transform: translateY(-100px);

    @media only screen and (min-width: 1500px) {
        width: 1300px;
    }
    @media only screen and (max-width: 1501px) and (min-width: 1400px){
        width: 1180px;
    }
    @media only screen and (max-width: 1401px) and (min-width: 1280px){
        width: 1060px;
    }
    @media only screen and (max-width: 1281px) and (min-width: 1160px){
        width: 940px;
    }
    @media only screen and (max-width: 1161px) and (min-width: 1040px){
        width: 820px;
    }
    @media only screen and (max-width: 1041px){
        width: 700px;
    }
    }
