<div class="top-container">
    <div class="top-grid" style="height: auto;">
      <div gdGap="20px" gdColumns="repeat(11, 100px)" gdRows="repeat(4,100px)" >
        <div class="box subway video-wrap"    gdColumn="auto / span 2" gdRow="auto / span 2">
          <div style="height: 100%;" class="video">
            <video  loop class="video-play" preload="none" #videoPlayer>
                <source src="../../../../assets/video/animated_thumbnail_242x175_subwaysurfers_tokyo.mp4" type="video/mp4" />
            </video>
          </div>
          <div [ngClass]="{'hide':video1On === true}" class="video-icon-top" >
            <img src="../../../../assets/img/category/camera_icon.png" alt="">
          </div>
          <div class="title-wrapper" (mouseenter)="toggleVideo($event)" (mouseleave)="hideVideo($event)">
            <p class="title">Subway Surfers</p>
          </div>
        </div>
        <div class=" update"></div>
        <div class="box twoByOne_5" gdColumn="auto / span 2">
          <div class="title-wrapper">
            <p class="title">Moto Stars</p>
          </div>
        </div>
        <div class="box twoByTwo_9 video-wrap" gdColumn="auto / span 2" gdRow="auto / span 2">
          <a routerLink='/frisbee-forever'> 
          <div style="height: 100%;" class="video">
            <video  loop class="video-play" preload="none" #videoPlayer2>
                <source src="../../../../assets/video/animated_thumbnail_242x175_FrisbeeForever.mp4" type="video/mp4" />
            </video>
          </div>
          <div [ngClass]="{'hide':video2On === true}" class="video-icon-top">
            <img src="../../../../assets/img/category/camera_icon.png" alt="">
          </div>
          <div class="title-wrapper" (mouseenter)="toggleVideo2($event)" (mouseleave)="hideVideo($event)">
            <p class="title">Frisbee Forever</p>
          </div>
          </a>
        </div>
        <div class="box single_13">
          <div class="title-wrapper">
            <p class="title__small">Fidget Spinner</p>
          </div>
        </div>
        <div class="editor" gdColumn="auto / span 3" gdRow="auto / span 3" >
            <img class="label--3x3" src="../../../assets/img/grid/label2.png" alt="">
            <div class="editor-wrapper">
              <div class="editor-container--3x3 ">
                <div class="overlay" (mouseenter)="toggleVideoEditor($event)" (mouseleave)="hideVideo($event)">
                  <p class="title">Cut the Rope</p> 
                </div>
                <div class="img-container ">
                  <div class="video-icon-top--editor">
                    <img src="../../../../assets/img/category/camera_icon.png" alt="">
                  </div>
                  <img style="height: 100%;"src ="../../../../assets/img/grid/special_frame_big100px.png" alt="Editor's choice game"> 
                  <div style="height: 100%;" class="video">
                    <video  loop class="video-play-editor" preload="none" #videoPlayerEditor>
                        <source src="../../../../assets/video/animated_thumbnail_242x175_CutTheRope2.mp4" type="video/mp4" />
                    </video>
                  </div>

                </div>
                
               </div>
               <p class="choice-text_small">Editor's Choice</p>
            </div>
        </div>
        <div class="box single">
          
          <div class="title-wrapper">
            <p class="title__small">Bubble Adventure</p>
          </div>
        </div>
        <div class="box twoByTwo video-wrap" gdColumn="auto / span 2" gdRow="auto / span 2">
          <a routerLink='/game/23'> 
          <div style="height: 100%;" class="video">
            <video  loop class="video-play" preload="none" #videoPlayer3>
                <source src="../../../../assets/video/animated_thumbnail_242x175_BulletLeague.mp4" type="video/mp4" />
            </video>
          </div>
          <div  [ngClass]="{'hide':video3On === true}" class="video-icon-top">
            <img src="../../../../assets/img/category/camera_icon.png" alt="">
          </div>
          <div class="title-wrapper"  (mouseenter)="toggleVideo3($event)" (mouseleave)="hideVideo($event)">
            <p class="title">Bullet League <br> Robogedon</p>
          </div>
          </a>
        </div>
        <div class="box single_14">
          <div class="title-wrapper">
            <p class="title"> Game</p>
          </div>
        </div>
        <div class="box twoByOne"  gdColumn="auto / span 2">
          <div class="title-wrapper">
            <p class="title"> Game</p>
          </div>
        </div>
        <div class=" candySwipe"></div>
        <div class=" upZone"></div>
        <div class="box single_11">
          <div class="title-wrapper">
            <p class="title"> Game</p>
          </div>
        </div>
        <div class="box single_15">
          <div class="title-wrapper">
            <p class="title"> Game</p>
          </div>
        </div>
        <div class="box twoByOne_2" gdColumn="auto / span 2">
          <div class="title-wrapper">
            <p class="title"> Game</p>
          </div>
        </div>
        <div class="box single_4">
          <div class="title-wrapper">
            <p class="title"> Game</p>
          </div>
        </div>
        <div class="box single_7">
          <div class="title-wrapper">
            <p class="title"> Game</p>
          </div>
        </div>
        <div class="box single_8">
          <div class="title-wrapper">
            <p class="title"> Game</p>
          </div>
        </div>
        <div class="box single_10">
          <div class="title-wrapper">
            <p class="title"> Game</p>
          </div>
        </div>
          <div class="box twoByOne_12" gdColumn="auto / span 2">
            <a> 
              <div class="title-wrapper">
                <p class="title"> Game</p>
              </div>
            </a>
          </div>
      

        <div class="box single_16">
          <div class="title-wrapper">
            <p class="title"> Bullet League Robogedon</p>
          </div>
        </div>
        <div class="box single_18">
          <div class="title-wrapper">
            <p class="title"> Game</p>
          </div>
        </div>
        <div class="box single_17">
          <div class="title-wrapper">
            <p class="title"> Game</p>
          </div>
        </div>
        <!-- 
          <div  *ngFor="let box of numSequence(11); let i = index"  gdGap ="0px" fxLayoutGap="0px" >
            <div class="replay-box replay-{{i}}">
                <div class="under"></div>
                <div class="overlay-title-wrapper">
                    <p class="title">Fidget Surfers</p>
                </div>
                <div class="image image-{{i}}">
                    <img src="../../assets/img/playNow/play_now_{{i+1}}.png" alt="" srcset="">
                </div>
            </div>
        </div>
        <div class="play-label">
        <div class="text">Play Again</div> 
        </div>
        -->

      </div>
 

    </div>
  </div>
  