<div *ngIf="screenWidth > 1500">
    <app-top11x></app-top11x>
    <app-play-again-home></app-play-again-home>
    <app-hot-games11x ></app-hot-games11x> 
</div>
<div *ngIf="screenWidth < 1501 && screenWidth > 1400">
    <app-top10x></app-top10x>
    <app-play-again-home></app-play-again-home>
    <app-hot-games10x ></app-hot-games10x> 
</div>
<div *ngIf="screenWidth < 1401 && screenWidth > 1280">
    <app-top9x></app-top9x>
    <app-play-again-home></app-play-again-home>
    <app-hot-games9x ></app-hot-games9x> 
</div>

<div *ngIf="screenWidth < 1281 && screenWidth > 1160">   
    <app-top8x></app-top8x>
    <app-play-again-home></app-play-again-home>
    <app-hot-games8x ></app-hot-games8x> 
</div>
<div *ngIf="screenWidth < 1161 && screenWidth > 1040">
    <app-top7x></app-top7x>
    <app-play-again-home></app-play-again-home>
    <app-hot-games7x ></app-hot-games7x> 
</div>
<div *ngIf="screenWidth < 1041 && screenWidth > 920">
    <app-top6x></app-top6x>
    <app-play-again-home></app-play-again-home>
    <app-hot-games6x ></app-hot-games6x> 
</div>
<div  *ngIf="screenWidth < 921 ">
    <app-top5x></app-top5x>
    <app-play-again-home></app-play-again-home>
    <app-hot-games5x ></app-hot-games5x> 
</div>
