<div class="top-container">
    <div class="top-grid" style="height: auto;">
      <div gdGap="20px" class="top-games" gdColumns="repeat({{columnNumber}},100px)" gdRows="repeat({{rowsNumber}}, 100px)" >
        <div class="box subway video-wrap"    gdColumn="auto / span 2" gdRow="auto / span 2">
          <div style="height: 100%;" class="video">
            <video  loop class="video-play" preload="none"  muted="muted" #videoPlayer>
                <source src="../../../../assets/video/animated_thumbnail_242x175_subwaysurfers_tokyo.mp4" type="video/mp4" />
            </video>
          </div>
          <div [ngClass]="{'hide':video1On === true}" class="video-icon-top" >
            <img src="../../../../assets/img/category/camera_icon.png" alt="">
          </div>
          <div class="title-wrapper" (mouseenter)="toggleVideo($event)" (mouseleave)="hideVideo($event)">
            <p class="title">Subway Surfers</p>
          </div>
        </div>
        <div class="update" gdColumn="{{icon1.x}}" gdRow="{{icon1.y}}"></div>
        <div class="box twoByOne_5" gdColumn="{{twoPosition.x}}" gdRow="{{twoPosition.y}}">
          <div class="title-wrapper">
            <p class="title">Moto Stars</p>
          </div>
        </div>
        <div class="box twoByTwo_9 video-wrap" gdColumn="{{threePosition.x}}" gdRow="{{threePosition.y}}">
          <a routerLink='/frisbee-forever'> 
          <div style="height: 100%;" class="video">
            <video  loop class="video-play" preload="none" muted="muted" #videoPlayer2>
                <source src="../../assets/video/animated_thumbnail_242x175_FrisbeeForever.mp4" type="video/mp4" />
            </video>
          </div>
          <div [ngClass]="{'hide':video2On === true}" class="video-icon-top">
            <img src="../../../../assets/img/category/camera_icon.png" alt="">
          </div>
          <div class="title-wrapper" (mouseenter)="toggleVideo2($event)" (mouseleave)="hideVideo($event)">
            <p class="title">Frisbee Forever</p>
          </div>
          </a>
        </div>
        <div class="box single_13"  gdColumn="{{fourPosition.x}}" gdRow="{{fourPosition.y}}">
          <div class="title-wrapper">
            <p class="title__small">Fidget Spinner</p>
          </div>
        </div>
        <div class="editor" gdColumn="{{threeByThree.x}}" gdRow="{{threeByThree.y}}" >
            <img class="label--3x3" src="../../../assets/img/grid/label2.png" alt="">
            <div class="editor-wrapper">
              <div class="editor-container--3x3 ">
                <div class="overlay" (mouseenter)="toggleVideoEditor($event)" (mouseleave)="hideVideo($event)">
                  <p class="title">Cut the Rope</p> 
                </div>
                <div class="img-container ">
                  <div class="video-icon-top--editor">
                    <img src="../../../../assets/img/category/camera_icon.png" alt="">
                  </div>
                  <img style="height: 100%;"src ="../../../../assets/img/grid/special_frame_big100px.png" alt="Editor's choice game"> 
                  <div style="height: 100%;" class="video">
                    <video  loop class="video-play-editor" muted="muted" preload="none" #videoPlayerEditor>
                        <source src="../../../../assets/video/animated_thumbnail_242x175_CutTheRope2.mp4" type="video/mp4" />
                    </video>
                  </div>

                </div>
                
               </div>
               <p class="choice-text_small">Editor's Choice</p>
            </div>
        </div>
        <div class="box single" gdColumn="{{fivePosition.x}}" gdRow="{{fivePosition.y}}">
          
          <div class="title-wrapper">
            <p class="title__small">Bubble Adventure</p>
          </div>
        </div>
        <div class="box twoByTwo video-wrap"  gdColumn="{{sixPosition.x}}" gdRow="{{sixPosition.y}}">
          <a routerLink='/game/23'> 
          <div style="height: 100%;" class="video">
            <video  loop class="video-play" preload="none"  muted="muted" #videoPlayer3>
                <source src="../../../../assets/video/animated_thumbnail_242x175_BulletLeague.mp4" type="video/mp4" />
            </video>
          </div>
          <div  [ngClass]="{'hide':video3On === true}" class="video-icon-top">
            <img src="../../../../assets/img/category/camera_icon.png" alt="">
          </div>
          <div class="title-wrapper"  (mouseenter)="toggleVideo3($event)" (mouseleave)="hideVideo($event)">
            <p class="title">Bullet League <br> Robogedon</p>
          </div>
          </a>
        </div>
        <div class="box single_14"  gdColumn="{{sevenPosition.x}}" gdRow="{{sevenPosition.y}}">
          <div class="title-wrapper">
            <p class="title"> Game</p>
          </div>
        </div>
        <div class="box twoByOne" gdColumn="{{eightPosition.x}}" gdRow="{{eightPosition.y}}">
          <div class="title-wrapper">
            <p class="title"> Game</p>
          </div>
        </div>
        <div class=" candySwipe" gdColumn="{{icon2.x}}" gdRow="{{icon2.y}}"></div>
        <div class=" upZone" gdColumn="{{icon3.x}}" gdRow="{{icon3.y}}"></div>
        <div class="box single_11" gdColumn="{{ninePosition.x}}" gdRow="{{ninePosition.y}}">
          <div class="title-wrapper">
            <p class="title"> Game</p>
          </div>
        </div>
        <div class="box single_15" gdColumn="{{tenPosition.x}}" gdRow="{{tenPosition.y}}">
          <div class="title-wrapper">
            <p class="title"> Game</p>
          </div>
        </div>
        <div class="box twoByOne_2" gdColumn="{{elevenPosition.x}}" gdRow="{{elevenPosition.y}}">
          <div class="title-wrapper">
            <p class="title"> Game</p>
          </div>
        </div>
        <div class="box single_4" gdColumn="{{twelvePosition.x}}" gdRow="{{twelvePosition.y}}">
          <div class="title-wrapper">
            <p class="title"> Game</p>
          </div>
        </div>
        <div class="box single_7" gdColumn="{{thirteenPosition.x}}" gdRow="{{thirteenPosition.y}}">
          <div class="title-wrapper">
            <p class="title"> Game</p>
          </div>
        </div>
        <div class="box single_8" gdColumn="{{fourteenPosition.x}}" gdRow="{{fourteenPosition.y}}">
          <div class="title-wrapper">
            <p class="title"> Game</p>
          </div>
        </div>
        <div class="box single_10" gdColumn="{{fifteenPosition.x}}" gdRow="{{fifteenPosition.y}}">
          <div class="title-wrapper">
            <p class="title"> Game</p>
          </div>
        </div>
          <div class="box twoByOne_12" gdColumn="auto / span 2" gdColumn="{{sixteenPosition.x}}" gdRow="{{sixteenPosition.y}}">
              <div class="title-wrapper">
                <p class="title"> Game</p>
              </div>
          </div>
      

        <div class="box single_20" gdColumn="{{seventeenPosition.x}}" gdRow="{{seventeenPosition.y}}">
          <div class="title-wrapper">
            <p class="title"> Bullet League Robogedon</p>
          </div>
        </div>
        <div class="box single_18" gdColumn="{{eighteenPosition.x}}" gdRow="{{eighteenPosition.y}}">
          <div class="title-wrapper">
            <p class="title"> Game</p>
          </div>
        </div>
        <div class="box single_17" gdColumn="{{ninteenPosition.x}}" gdRow="{{ninteenPosition.y}}" >
          <div class="title-wrapper">
            <p class="title"> Game</p>
          </div>
        </div>

      </div>
 

    </div>
  </div>
  <app-play-again-home></app-play-again-home>
