video::-webkit-media-controls {
    display:none !important;
}


.video-wrap.box:hover +.video-icon-top { 
    opacity: 0;
    transition :0.3s  ease-in-out 0.3s ;
}

.video-icon-top{
    background:white;
    height: 42px;
    width: 54px;
    position: absolute;
    border-radius: 18px 0 14px 0;
    transform: translate(164px, -42px);
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;

    

    &--editor{
        @extend .video-icon-top;
        transform: translate(163px, 175px);
        border-radius: 18px 0px 18px 0;

        &_2x3{
            @extend .video-icon-top--editor;
            transform: translate(163px, 55px);
            border-radius: 18px 0px 18px 0;
        }
    }
}

.top-container{
   
    margin-top: 40px;
    //Video Overlay Class

    .top-grid{

        .box {
            position: relative;
            border-radius: 18px;
            padding: 0;
            font-size: 150%;
            box-shadow: 0px 5px 7px 7px rgba(0, 0, 0, 0.1);
            background-size:contain;
            border: 2px solid #e4fdff;
            overflow: hidden;
            cursor: pointer;

            &_wide{
                @extend .box;
                background-size: fit;
            }
            transition: transform 300ms ease-in-out;
            
        }

        .video-wrap{
            position: relative;
            overflow: hidden;
        }

        .box:hover{
            transform: scale(1.05);
            
        }
        
        //linear-gradient(0deg, rgba(255,255,255,0) 23%, rgba(0,0,0,0.2777485994397759) 45%, rgba(0,0,0,0.6474964985994398) 100%); --- Small Friendly
        // -- GoodVersion 
        .title-wrapper {
            top:0;
            left: 0;
            position: absolute;
            z-index: 9998;
            opacity: 0;
            background: linear-gradient(0deg, rgba(255,255,255,0) 39%, rgba(0,0,0,0.19931722689075626) 62%, rgba(0,0,0,0.6474964985994398) 100%); 
            height: 100%;
            width: 100%;
            text-align:center;
            -webkit-user-select: none; /* Safari */        
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* IE10+/Edge */
            user-select: none; /* Standard */
            .title{
                opacity: 0;
                font-family: futura-pt-bold, sans-serif;
            }
            
        }

        .video-play{
            position: relative;
            opacity: 0;
            left: 0px;
            top: 0px;
            min-height: 100%;
            min-width: 100%;
            z-index: 9997;
            transition :0.3s  ease-in-out 0.3s ;
        }

        .video-play-editor{
            position: relative;
            opacity: 0;
            left: 0px;
            top: 0px;
            transform: translate(-58px, -218px);
            min-height: 100%;
            min-width: 100%;
            z-index: 9997;
            transition :0.3s  ease-in-out 0.3s ;
            &--2x3{
                @extend .video-play-editor;
                transform: translate(-24px, -163px);;
            }
        }
        .hide{
           opacity: 0;
           transition: 0.3s ease-in-out 0.3s;
        }
        .title-wrapper:hover{
            opacity: 1;
            z-index: 99999;
            transition: 0.1s ease-in-out;

            .title{
                opacity: 1;
                transition: 0.2s ease-in-out;
                font-size:16px;
                &__small{
                    @extend .title;
                    padding-top:5px;
                    line-height: 97%;
                    font-size: 16px;
                }
            }

        }


        
        
        .subway{

            background-image: url('../../img/grid/subway_surfers.png');
            border: 2px solid #ffde2a;
            cursor: pointer;
        
        }
        .update{

            background-image: url('../../img/grid/arrow_1_left.png') ;
            background-repeat: no-repeat;
            background-size:contain;
            background-color: none !important;
            box-shadow: none;
            border:none !important;

            &_up{

                @extend .update;
                background-image: url('../../img/grid/arrow_1_up.png');

            }
        }
    
        .editor{

            background-image: linear-gradient(to top, #ffd35d, #fff7b2);
            border: none !important;
            border-radius: 18px;
            padding: 42px;
            overflow: hidden;
            cursor: pointer;
            &--2x3{
                @extend .editor;
                padding: 0;
                padding-top: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        
            .editor-container{
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;


                &--2x2{
                    @extend .editor-container;
                    padding:0;
                    margin-top: 5%;

                    
                }
                &--3x3{
                    @extend .editor-container;
                    font-size:25px;
                    transition: transform 200ms ease-in-out;
                    &:hover{
                        transform: scale(1.02);
                    }
                    .img-container{
                        position: relative;
                        width: 220px;
                        overflow: hidden;
                        height: 220px;
                        border-radius: 18px;
                        box-shadow: 0px 5px 7px 7px rgba(0, 0, 0, 0.1);
                        border: 2px solid #ffde2a;
                    }
                    .overlay{
                        position: absolute;
                        opacity: 0;
                        border-radius:18px;
                        background: linear-gradient(0deg, rgba(255,255,255,0) 39%, rgba(0,0,0,0.19931722689075626) 62%, rgba(0,0,0,0.6474964985994398) 100%); 
                        height: 100%;
                        z-index: 9999;
                        width: 87%;
                        text-align:center;
                        -webkit-user-select: none; /* Safari */        
                        -moz-user-select: none; /* Firefox */
                        -ms-user-select: none; /* IE10+/Edge */
                        user-select: none; /* Standard */
                        .title{
                            opacity: 0;
                            font-family: futura-pt-bold, sans-serif;
                        }
                      
                    }
                    .overlay:hover + .img-container .video-icon-top--editor {
                        opacity: 0;
                        transition :0.3s  ease-in-out 0.3s ;
                      }
                    .overlay:hover{
                        opacity: 1;
                        transition: 0.1s linear;
                  
                        .title{
                            opacity: 1;
                            transition: 0.2s linear;
                            font-size:16px;
                            &__small{
                                @extend .title;
                                padding-top:5px;
                                line-height: 97%;
                                font-size: 16px;
                            }
                        }
                    }
                    
                }

                &--2x3{
                    @extend .editor-container;
                    font-size:25px;
                    transition: transform 200ms ease-in-out;
                    &:hover{
                        transform: scale(1.02);
                    }
                    .img-container{
                        position: relative;
                        width: 220px;
                        overflow: hidden;
                        height: 100px;
                        border-radius: 18px;
                        box-shadow: 0px 5px 7px 7px rgba(0, 0, 0, 0.1);
                        border: 2px solid #ffde2a;
                    }
                    .overlay{
                        position: absolute;
                        opacity: 0;
                        border-radius:18px;
                        background: linear-gradient(0deg, rgba(255,255,255,0) 39%, rgba(0,0,0,0.19931722689075626) 62%, rgba(0,0,0,0.6474964985994398) 100%); 
                        height: 100%;
                        z-index: 9999;
                        width: 87%;
                        text-align:center;
                        -webkit-user-select: none; /* Safari */        
                        -moz-user-select: none; /* Firefox */
                        -ms-user-select: none; /* IE10+/Edge */
                        user-select: none; /* Standard */
                        .title{
                            opacity: 0;
                            font-family: futura-pt-bold, sans-serif;
                        }
                      
                    }
                    .overlay:hover + .img-container .video-icon-top--editor {
                        opacity: 0;
                        transition :0.3s  ease-in-out 0.3s ;
                      }
                    .overlay:hover{
                        opacity: 1;
                        transition: 0.1s linear;
                  
                        .title{
                            opacity: 1;
                            transition: 0.2s linear;
                            font-size:16px;
                            &__small{
                                @extend .title;
                                padding-top:5px;
                                line-height: 97%;
                                font-size: 16px;
                            }
                        }
                    }
                    
                }

            }
        }
        .candySwipe{

            background-image: url('../../img/grid/arrow_3_right.png');
            background-repeat: no-repeat;
            background-size:contain;
            background-color: none !important;
            box-shadow: none;
            border: none !important;

            &_left{
                @extend .candySwipe;
                background-image: url('../../img/grid/arrow_3_left.png');
            }

        }

        .upZone{

            background-image: url('../../img/grid/arrow_3_up.png');
            background-repeat: no-repeat;
            background-size: contain;
            box-shadow: none;
            border: none !important;

        }
        .choice{

            border: 2px solid #ffde2a;
            border-radius: 18px;
            overflow: hidden; /* required */

            &--2x2{
                @extend .choice;
                width: 100px;
            }
        }
        .choice-text{

            display: flex;
            justify-content: center;
            text-transform: uppercase;
            padding: 45px 0;
            height: 130px;
            color: #ba5d0e;
            font-family: futura-pt-bold, sans-serif;
            font-weight: 700;
            font-style: normal;
            letter-spacing: 2px;
            font-size:30px;

            &_medium{

                @extend .choice-text;
                padding: 35px 0;

            }
            &_small{

                @extend .choice-text;
                padding: 18.75px 0;
                font-size: 25px;
                height: 20px;

            }
            &--2x2{

                @extend .choice-text;
                letter-spacing: normal;
                font-size: 16px;
                padding: 20px 0;

            }

        }

        .label{

            position: absolute;
            transform: translate(190px, -53px);
            z-index: 999;
            height: 58px;
            &_2{
                @extend .label;
                transform: translate(225px, -54px);
            }
            &--3x3{
                @extend .label;
                transform: translate(228px, -47px);
                
            }
            &--2x3{
                @extend .label;
                transform: translate(120px, -94px);
            }
            &--2x2{
                @extend .label;
                transform: translate(67px, -77px) scale(0.6);
            }
        }

  
    }

}