@import '../../assets/css/sboxes.scss';
.page_title{
margin-top: 20px;
  margin-bottom: 20px;
  font-size: 45px;
  color: #1f252d;
  font-family: futura-pt-bold, sans-serif;
  text-transform: uppercase;
}
.single-category-container{
  
  .editor{

  background-image: linear-gradient(to top, #ffd35d, #fff7b2);
  border: none !important;
  font-size: 25px;
  box-shadow: 0px 5px 7px 7px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #e4fdff;
  
      .editor-container{
          display: flex;
          justify-content: center;
          align-items: center;

          &--2x2{
              @extend .editor-container;
              margin-top: 32px;

          
          }
      }
  }

  .image-wrapper{
      border: 2px solid #ffde2a;
      border-radius: 18px;
      box-shadow: 0px 5px 7px 7px rgba(0, 0, 0, 0.1);
      overflow: hidden; /* required */
      width:100px;
      height:100px;
      margin: 0!important;
      padding: 0!important;
      &:hover{
          transform: scale(1.02);
      }
      img{
        height: 100%;
        object-fit: contain;
      }
      .overlay{
          position: absolute;
          opacity: 0;
          border-radius:18px;
          background: linear-gradient(0deg, rgba(255,255,255,0) 39%, rgba(0,0,0,0.19931722689075626) 62%, rgba(0,0,0,0.6474964985994398) 100%); 
          width: 100px;
          z-index: 9999;
          text-align:center;
          -webkit-user-select: none; /* Safari */        
          -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* IE10+/Edge */
          user-select: none; /* Standard */
          .title{
              opacity: 0;
              font-family: futura-pt-bold, sans-serif;
          }
        
      }
      .overlay:hover{
          opacity: 1;
          transition: 0.1s linear;
    
          .title{
              opacity: 1;
              transition: 0.2s linear;
              font-size:16px;
              &__small{
                  @extend .title;
                  padding-top:5px;
                  line-height: 97%;
                  font-size: 16px;
              }
          }
      }
      

    
  }


  .choice-text{

      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      color: #ba5d0e;
      font-family: futura-pt-bold, sans-serif;
      font-weight: 700;
      font-style: normal;
      letter-spacing: 2px;
      font-size:30px;

      &_medium{

          @extend .choice-text;
          padding: 35px 0;

      }
      &_small{

          @extend .choice-text;
          padding: 10px 0;
          font-size: 25px;
          height: 20px;

      }
      &--2x2{

          @extend .choice-text;
          letter-spacing: normal;
          font-size: 25px;
          padding-top: 18.5px;
      

      }

  }

  .label{

      position: absolute;
      transform: translate(190px, -53px);
      height: 58px;

      &_2{
          @extend .label;
          transform: translate(225px, -54px);
      }
      &--3x3{
          @extend .label;
          transform: translate(186px, -66px) scale(0.8);
      }
      &--2x3{
          @extend .label;
          transform: translate(215px, -60px) scale(0.8);
      }
      &--2x2{
          @extend .label;
          transform: translate(69px, -82.5px);
      }
  }

}
@for $icon  from 1 through 66 {
    .play-#{$icon} {
      background-image: url(../../assets/img/playNow/play_now_#{$icon}.png);
    }
  }