<div class="single-category-container">
    <h1 class="page_title">{{categoryName}} GAmes</h1>
    <div class="game-container" >
        <div gdGap="20px" gdColumns="repeat({{columnNumber}}, 100px)" gdRows="repeat(auto-fill, minmax(100px, 1fr))">
            <div  class="game-container editor" gdColumn="auto / span 2" gdRow="auto / span 2" >
                <img class="label--2x2" src="../../assets/img/grid/label.png" alt="">
                <div class="editor-wrapper">
                  <div class="editor-container--2x2">
                      <div class="image-wrapper">
                        <div class="overlay">
                            <p class="title">Best Girl Game on Kiloo</p> 
                          </div>
                        <img class="choice--2x2" src="../../assets/img/category/promoted_thumb_2.png" alt="Most Popular game"> 
                      </div>
                   </div>
                   <p class="choice-text--2x2">Most Popular</p>
                </div>
            </div>       
           <div  *ngFor="let box of numSequence(50); let i = index" class="box game-container play-{{i+17}}">
            <div class="title-wrapper">
                <p class="title">Fidget Surfers</p>
              </div>
           </div>

        </div>
    </div>
    <app-disabled-games></app-disabled-games>
    <app-text></app-text>
</div>