<div class="container">
  <div class="wrapper">
      
  </div>
  <div class="displayTable">
    <div class="displayTableCell">

      <div class="my-5">
          <img src="../../assets/img/logo_header.png" alt="Kiloo Logos">
       
      </div>

      <div class="authBlock ">
        <div class="formGroup">
          <input type="text" class="formControl" placeholder="Username" #userName required>
        </div>

        <div class="formGroup py-2">
          <input type="password" class="formControl" placeholder="Password" #userPassword required>
        </div>

        <!-- Calling SignIn Api from AuthService -->
        <div class="formGroup">
          <input type="button" class="btn btnPrimary" value="Log in" (click)="authService.SignIn(userName.value, userPassword.value)">
        </div>

        <!-- Calling GoogleAuth Api from AuthService -->
        <div class="formGroup">
          <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
            <i class="fab fa-google-plus-g"></i>
            Log in with Google
          </button>
        </div>


      </div>

    </div>
  </div>
</div>
