<div class="special-container">
    <div class="iFrameContainer">
        <div class="iFrameGame" id="iFrameGame">
            <iframe id="iFrame" [src]="game.iframeLink | safe" frameborder="0" ></iframe>
            <div *ngIf="isFullScreen" class="full-screen-bar">
                <div class="image">
                    <img src="{{ game.pictureLink }}" alt=""/>
                </div>
                <div class="text">
                    <div class="text-group">
                        <p class="game-name">
                            {{
                            game.name.length > 26
                                ? (game.name | slice: 0:26) + "..."
                                : game.name
                            }}
                        </p>
                        <p class="dev-name">By {{ game.developer }} <br>
                            <a class="privacy-link" href="https://fundayfactory.com/media/206274/privacy-policy.pdf">Privacy Policy</a>
                        </p>
                    </div>
    
                    <div class="vote-section">
                        <div class="like" [ngClass]="{ liked: liked === true }" (click)="onLike(game)">
                            <img class="thumbColor" [ngClass]="{ 'active-thumb': liked === true }" src="../../assets/img/thumb_up.png" alt=""/>
                            <p>{{ game.likes }}</p>
                        </div>
                        <div class="dislike" [ngClass]="{ disliked: disliked === true }" (click)="onDislike(game)">
                            <img class="thumbColor" [ngClass]="{ 'active-thumb': disliked === true }" src="../../assets/img/thumb_down.png" alt=""/>
                            <p>{{ game.dislikes }}</p>
                        </div>
                        <div class="full-screen-button" *ngIf="!isFullScreen" (click)="openFullscreen()">
                            <img src="../../assets/img/frisbee/full_screen_grey_btn.png" alt="">
                        </div>
                        <div class="full-screen-button" *ngIf="isFullScreen" (click)="closeFullscreen()">
                            <img src="../../assets/img/frisbee/full_screen_exit_btn_grey.png" alt="">
                        </div>
                    </div>
            </div>
            </div>
        </div>
        <div class="iFrameBottom" id="iFrameBottom">
            <div class="image">
                <img src="{{ game.pictureLink }}" alt=""/>
            </div>
            <div class="text">
                <div class="text-group">
                    <p class="game-name">
                        {{
                        game.name.length > 26
                            ? (game.name | slice: 0:26) + "..."
                            : game.name
                        }}
                    </p>
                    <p class="dev-name">By {{ game.developer }} <br>
                        <a class="privacy-link" href="https://fundayfactory.com/media/206274/privacy-policy.pdf">Privacy Policy</a></p>
                </div>

                <div class="vote-section">
                    <div class="like" [ngClass]="{ liked: liked === true }" (click)="onLike(game)">
                        <img class="thumbColor" [ngClass]="{ 'active-thumb': liked === true }" src="../../assets/img/thumb_up.png" alt=""/>
                        <p>{{ game.likes }}</p>
                    </div>
                    <div class="dislike" [ngClass]="{ disliked: disliked === true }" (click)="onDislike(game)">
                        <img class="thumbColor" [ngClass]="{ 'active-thumb': disliked === true }" src="../../assets/img/thumb_down.png" alt=""/>
                        <p>{{ game.dislikes }}</p>
                    </div>
                    <div class="full-screen-button" *ngIf="!isFullScreen" (click)="openFullscreen()">
                        <img src="../../assets/img/frisbee/full_screen_grey_btn.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-container">
        <h1 class="title">Frisbee Forever</h1>

        <h2>Wow, That Was Some Throw!</h2>
        <p>
            As the saying goes, “It’s all in the wrist,” and Frisbee Forever is
                  definitely no exception. Welcome to our favorite disc-tossing bonanza
                  online. This frisbee game brings you an experience far and beyond anything
                  you’ve played at a neighborhood barbecue. Instead of just lobbing that
                  plastic projectile ten feet to your friend, you’re going to be angling and
                  banking your way through beautifully complex levels. Better yet, you see
                  each level through the perspective of the frisbee, which is a really fun
                  twist! What’s more, you can enjoy tons of customization, upgrades, new
                  challenges and even more surprises as you play through this title. Before
                  we get into all the fun bells and whistles, though, we should walk you
                  through the basics of Frisbee Forever.
        </p>

        <h2>How to Play Frisbee Forever</h2>
        <p>
            Like other online frisbee games, the concept here is actually really
                  simple: just get to the end of each level. Like in a real game of frisbee,
                  you start from a stationary position. The frisbee is ready to be flicked
                  whenever you’re ready to start the level. Make sure you take your time
                  getting ready. We recommend you peek ahead to see the course before you
                  throw, because once that disc is flying, you’ll have to think fast! As
                  soon as you make your throw, you’ll need to steer the frisbee into certain
                  items, like rings, stars, and more. You can always learn as you play, but
                  it’s handy to know what each of these features do before you go plowing
                  into one. Let’s take a closer look at rings and stars. Grab enough of
                  them, and you just might earn a bonus or two!
        </p>

        <h2>RINGS</h2>
        <p>
            See those little red circles hovering above the ground? Do everything you
                  can to fly your frisbee through them. This will allow you to keep your
                  frisbee spinning really fast so that it can fly farther. Sure, you can
                  miss one or two rings once in a while, but any more than that, and you’ll
                  fly yourself right into the ground! That’s no way to make it to the end
                  goal, now is it? Flying through the rings is pretty easy at first, but
                  after a few levels, it will get much tougher. How? Why, those twinkly
                  stars will be calling your name, and they might be floating far away from
                  the main course! Can you steer sharply enough to get the rings and the
                  stars? What are these stars about, anyway?
        </p>

        <h2>STARS</h2>
        <p>
            They’re pretty hard to miss. See those big, spinning, sparkly beauties?
                  Like we mentioned, you’re going to have to go off course a little bit to
                  steer your frisbee into them. In the first few Frisbee Forever levels, the
                  stars might be in the rings, which is nice and easy. As you go along,
                  however, don’t expect such gentle treatment. What’s the big deal about
                  grabbing these stars, anyway? Well, they can help you out in a couple of
                  ways. First of all, more stars equals a better score and more experience
                  for each mission. On top of that, there are some bonus objectives that
                  will give you even more points and xp for grabbing stars in this frisbee
                  game. Just like the rings, it’s okay to miss one or two, but try to get
                  them all!
        </p>

        <h2>BONUS OBJECTIVES</h2>
        <p>
            We just mentioned how stars can earn you bonus objectives, but one of our
                  favorite gameplay elements from both Frisbee Forever and Frisbee Forever 2
                  are the bonus objectives. Here’s how it works: The game will give you
                  three extra objectives to complete while you’re playing through the
                  missions. These objectives change all the time, so you can’t just get
                  really good at those three things. They could be anything from flying
                  through a certain number of rings, flying a certain distance, going
                  through tubes successfully, and who knows what else? The bonus objectives
                  really add a level of fun and challenge that makes this game so addicting.
                  If you complete enough of them, you just might get enough experience to
                  unlock a bonus map!
        </p>
        <h2>Master All the Maps</h2>
        <p>
            You probably don’t think of exploring lush, beautiful worlds when you
                  think of an online frisbee game, but that’s just what Frisbee Forever has
                  brought us. At first, you start out in peaceful meadowland. Birds chirp,
                  green grass stretches for miles, and a charming windmill lazily spins in
                  the mild breeze. As you fly overhead, scrambling after coins and rings,
                  try not to be too distracted by this beautiful 3D world. After all, you’ve
                  got work to do if you want to unlock the next two game worlds! That’s
                  right, we have Viewpoint Hill for those who enjoy stunning landscapes, and
                  even Dragon Sea for a more mystical feel. You won’t just be handed these
                  two maps, however. You’ll need plenty of xp to get there.
        </p>
        <h2>We’re Just Getting Warmed Up</h2>
        <p>
            Would it surprise you to hear that this is just the beginning of all the fun frisbee game features? That’s right, we’ve got dozens of trophies (like the infamous Forever Frisbee clownfish!) and over a hundred new frisbees for you to earn too! Imagine hovering your way through your favorite level on a spinning football! Crazy, right? Just like the new maps, though, you will definitely need to earn a lot of experience to unlock your favorite customization options. This means flicking again and again as you hit those bonus objectives and find those trophies. Don’t forget the most important rule of Frisbee Forever, though – have fun and enjoy the ride!
        </p>
    </div>
</div>
