.special-container{
   
    //Width Directives
    @media only screen and (min-width: 1500px) {
        width: 1300px;
    }
    @media only screen and (max-width: 1501px) and (min-width: 1400px){
        width: 1180px;
    }
    @media only screen and (max-width: 1401px) and (min-width: 1280px){
        width: 1060px;
    }
    @media only screen and (max-width: 1281px) and (min-width: 1160px){
        width: 940px;
    }
    @media only screen and (max-width: 1161px) and (min-width: 1040px){
        width: 820px;
    }
    @media only screen and (max-width: 1041px){
        width: 700px;
    }
    background: #faf3eb;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px 0;
    margin-bottom: 100px;

    .iFrameContainer{
        width:1000px;

        @media only screen and (max-width: 1401px) and (min-width: 1280px){
            width: 900px;
        }
        @media only screen and (max-width: 1281px) and (min-width: 1160px){
            width: 800px;
        }
        @media only screen and (max-width: 1161px) and (min-width: 1040px){
            width: 820px;
        }
        @media only screen and (max-width: 1041px) and (min-width: 920px){
            width: 700px;
        }
        @media only screen and (max-width: 921px) {
            width: 700px;
        }

        .iFrameGame{
         
            height: 750px;
            background-color:black;

            iframe{
                border: 0;
                height: 100%;
                left: 0;
                top: 0;
                width: 100%;
            }
        }
        .iFrameBottom{
            height: 68px;
            background:white;
            display: flex;
            flex-direction: row;
          
                .text{
                    display: flex;
                    flex-direction: row;

                    .vote-section{
                    display: flex;
                    flex-direction: row;
                    margin-left: 568px;
                    margin-top: 11px;
                    color: #798089;
                    font-family: futura-pt-bold, sans-serif;
                    font-size: 17px;
                    @media only screen and (max-width: 1401px) and (min-width: 1280px){
                        margin-left: 468px;
                    }
                    @media only screen and (max-width: 1281px) and (min-width: 1160px){
                        margin-left: 368px;
                    }
                    @media only screen and (max-width: 1161px) and (min-width: 1040px){
                        margin-left: 389px;
                    }
                    @media only screen and (max-width: 1041px) and (min-width: 920px){
                        margin-left: 268px;
                    }
                    @media only screen and (max-width: 921px) {
                        margin-left: 268px;
                    }
         
                        .like{
                            height: 48px;
                            width: 60px;
                            border-radius: 10px;
                            align-items: center;
                            margin-right: 7px;
                            background-color: #eeeeee;
                            cursor: pointer;
                            align-items: center;
                            display: flex;
                            justify-content: center;
                            flex-direction: column;
                            p{
                                margin-bottom:-5px;
                            }
                        }
                        .thumbColor{
                            filter: invert(51%) sepia(7%) saturate(502%) hue-rotate(174deg) brightness(96%) contrast(89%);
                        }
                        .active-thumb{
                            filter:none !important;
                        }
                        .liked{
                            background-color:#48ac19;
                            color:white;
                        }
                        .disliked{
                            background-color:#e15f40ff !important;
                            color:white;
                            
                        }
                        .dislike{
                            height: 48px;
                            width: 60px;
                            border-radius: 10px;
                            background-color: #eeeeee;
                            cursor: pointer;
                            align-items: center;
                            display: flex;
                            justify-content: center;
                            flex-direction: column;
                            p{
                                margin-bottom:-5px;
                            }
                        }
                    }
                    .privacy-link{
                        font-size:12px;
                        color: #798089 !important;
                        line-height: 95%;            
                    }
                    .text-group{
                        display: flex;
                        flex-direction: column;
                        margin-top: 7px;
                        .game-name{
                            color: #4d4d4b;
                            font-size: 21px;
                            margin-top: -4px;
                            margin-bottom: -6px;
                            font-family: futura-pt-bold, sans-serif;
                        }
                        .dev-name{
                            color: #798089;
                            font-size: 20px;
                            line-height: 14px;
                            font-family: futura-pt-bold, sans-serif;
                        }
                    }
                
                }
                .image{

                     /* border-radius: 18px; */
                    margin: 0 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    &>img{
                        width: 48px;
                        height: 48px;     
                        border-radius: 8px;                   
                        margin-left: auto;
                        margin-right: auto;
                        display: block;
                    }
                }
            
                & .full-screen-button{
                    height: 48px;
                    width: 48px;
                    margin-left: 30px;
                    border-radius: 10px;
                    background-color: #eeeeee;
                    cursor: pointer;
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    cursor: pointer;
                }
        }
            
        
    }

    .full-screen-bar{
        height: 70px;
        background:white;
        display: flex;
        flex-direction: row;
      
            .text{
                display: flex;
                flex-direction: row;

                .vote-section{
                display: flex;
                flex-direction: row;
                margin-left: calc(69vw);
                margin-top: 11px;
                color: #798089;
                font-family: futura-pt-bold, sans-serif;
                font-size: 17px;
     
                    .like{
                        height: 48px;
                        width: 60px;
                        border-radius: 10px;
                        align-items: center;
                        margin-right: 7px;
                        background-color: #eeeeee;
                        cursor: pointer;
                        align-items: center;
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        p{
                            margin-bottom:-5px;
                        }
                    }
                    .thumbColor{
                        filter: invert(51%) sepia(7%) saturate(502%) hue-rotate(174deg) brightness(96%) contrast(89%);
                    }
                    .active-thumb{
                        filter:none !important;
                    }
                    .liked{
                        background-color:#48ac19;
                        color:white;
                    }
                    .disliked{
                        background-color:#e15f40ff !important;
                        color:white;
                        
                    }
                    .dislike{
                        height: 48px;
                        width: 60px;
                        border-radius: 10px;
                        background-color: #eeeeee;
                        cursor: pointer;
                        align-items: center;
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        p{
                            margin-bottom:-5px;
                        }
                    }
                }
                .privacy-link{
                    font-size:12px;
                    color: #798089;
                    line-height: 95%;            
                }
                .text-group{
                    display: flex;
                    flex-direction: column;
                    margin-top: 7px;
                    .game-name{
                        color: #4d4d4b;
                        font-size: 26px;
                        margin-bottom: -15px;
                        font-family: futura-pt-bold, sans-serif;
                    }
                    .dev-name{
                        color: #798089;
                        font-size: 20px;
                        font-family: futura-pt-bold, sans-serif;
                    }
                }
            
            }
            .image{

                 /* border-radius: 18px; */
                 margin:0 20px;
                display: flex;
                justify-content: center;
                align-items: center;

                &>img{
                    width: 48px;
                    height: 48px;     
                    border-radius: 8px;                   
                    margin-left: auto;
                    margin-right: auto;
                    display: block;
                }
            }
        
            & .full-screen-button{
                height: 48px;
                width: 48px;
                margin-left: 30px;
                border-radius: 10px;
                background-color: #eeeeee;
                cursor: pointer;
                align-items: center;
                display: flex;
                justify-content: center;
                flex-direction: column;
                cursor: pointer;
            }
    
    }

    .text-container{
        margin: 30px 0;
        font-family: futura-pt, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
        color:black;
        width: 1000px;
        @media only screen and (max-width: 1401px) and (min-width: 1280px){
            width: 900px;
        }
        @media only screen and (max-width: 1281px) and (min-width: 1160px){
            width: 800px;
        }
        @media only screen and (max-width: 1161px) and (min-width: 1040px){
            width: 820px;
            padding: 0 25px;
        }
        @media only screen and (max-width: 1041px) and (min-width: 920px){
            width: 700px;
            padding: 0 25px;
        }
        @media only screen and (max-width: 921px) {
            width: 700px;
            padding: 0 25px;
        }
        h2{
            font-family: futura-pt-bold, sans-serif;
            font-size: 21px;   
        }
        .title{

        font-family: futura-pt-bold, sans-serif;
        text-align: center;
        font-weight: bold;
        margin: 40px 0;
        font-size: 50px;

        }
        
    }

}