
    <app-main2x3  *ngIf = 'loadComponent2x3 '></app-main2x3>
    <app-top3x3  *ngIf = 'loadComponent3x3'></app-top3x3>
   
    <app-play-now></app-play-now>
    <app-categories></app-categories>
    <app-disabled-games></app-disabled-games>
    <app-text  ></app-text>
    <div class="action_center">
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary">
                <p>2x3</p>
                <div class="double">
                    <input type="checkbox" [(ngModel)]="loadComponent2x3" (ngModelChange)="processChange($event)" name="" id="" autocomplete="off">
                </div>
            </label>
            <label class="btn btn-primary">
                <p>3x3</p>
                <div class="double">
                    <input type="checkbox" [(ngModel)]="loadComponent3x3"  (ngModelChange)="processChange($event)"name="" id="" autocomplete="off">
                </div>
            </label>
        </div>
    </div>

