.top-container{

    margin-top: 80px;

    margin-bottom: 80px;

    .top-grid{
    

        .box {
        
            /*color: #fff;*/
            border-radius: 28px;
            padding: 42px;
            font-size: 150%;
            box-shadow: 0px 5px 7px 7px rgba(0, 0, 0, 0.1);
            
        }
        
        .subway{
            background-image: url('../img/grid/subway_surfers.png');
            border: 4px solid gold;
        }
        .update{
            background-image: url('../img/grid/arrow_1_left.png') ;
            background-repeat: no-repeat;
            background-size:contain;
            background-color: none !important;
            box-shadow: none;

            &_up{
                @extend .update;
                background-image: url('../img/grid/arrow_1_up.png');
            }
        }
    
        .editor{
            background-image: linear-gradient(to top, #ffd35d, #fff7b2);
            
        }
        .editor-container{
            margin-top:10%;
            display: flex;
            justify-content: center;
            align-items: center;

            &_medium{
                @extend .editor-container;
                margin-top: 5%;
            }
        }
        .candySwipe{
            background-image: url('../img/grid/arrow_3_right.png');
            background-repeat: no-repeat;
            background-size:contain;
            background-color: none !important;
            box-shadow: none;
            &_left{
                @extend .candySwipe;
                background-image: url('../img/grid/arrow_3_left.png');
            }
        }

        .upZone{
            background-image: url('../img/grid/arrow_3_up.png');
            background-repeat: no-repeat;
            background-size: contain;
            box-shadow: none;
        }
        .choice{
            border: 4px solid white;
            border-radius: 26px;
            box-shadow: 0px 5px 7px 7px rgba(0, 0, 0, 0.1);
            overflow: hidden; /* required */
        }
        .choice-text{
            display: flex;
            justify-content: center;
            text-transform: uppercase;
            padding: 45px 0;
            height: 130px;
            color: #ba5d0e;
            font-family: futura-pt-bold, sans-serif;
            font-weight: 700;
            font-style: normal;
            letter-spacing: 2px;
            font-size:30px;
            &_medium{
                @extend .choice-text;
                padding: 35px 0;
            }
        }
        .label{
            position: absolute;

            transform: translate(190px, -53px);
            &_2{
                @extend .label;
                transform: translate(370px, -54px);
            }
        }

  
    }

}


//Hot Games Container



.game-container{
    
    height: auto;
    .box{
        box-shadow: 0px 5px 7px 7px rgba(0, 0, 0, 0.1);
        border-radius: 28px;
        background-color: white;
        font-size: 50px;
        color:red;
        font-family: futura-pt-bold, sans-serif;
        background-image: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.rotate_90{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.rotate_180{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}