.single {
    background-image: url('../../assets/img/new_Thumbnails/1stbach/Kiloo_Thumbnails_220x220_Template_v1-assets/Game_220x220_1.jpg');
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: center;
    cursor: pointer;
    &_4{
        @extend .single;
        background-image: url('../../assets/img/new_Thumbnails/1stbach/Kiloo_Thumbnails_220x220_Template_v1-assets/Game_220x220_2.jpg');
    }

    &_7{
        @extend .single;
        background-image: url('../../assets/img/new_Thumbnails/1stbach/Kiloo_Thumbnails_220x220_Template_v1-assets/Game_220x220_3.jpg');
    }

    &_8{
        @extend .single;
        background-image: url('../../assets/img/new_Thumbnails/1stbach/Kiloo_Thumbnails_220x220_Template_v1-assets/Game_220x220_4.jpg');
    }

    &_11{
        @extend .single;
        background-image: url('../../assets/img/new_Thumbnails/1stbach/Kiloo_Thumbnails_220x220_Template_v1-assets/Game_220x220_5.jpg');
    }

    &_10{
        @extend .single;
        background-image: url('../../assets/img/new_Thumbnails/1stbach/Kiloo_Thumbnails_220x220_Template_v1-assets/Game_220x220_6.jpg');
    }

    &_13{
        @extend .single;
        background-image: url('../../assets/img/new_Thumbnails/1stbach/Kiloo_Thumbnails_220x220_Template_v1-assets/Game_220x220_7.jpg');
    }
    &_14{
        @extend .single;
        background-image: url('../../assets/img/new_Thumbnails/1stbach/Kiloo_Thumbnails_220x220_Template_v1-assets/Game_220x220_8.jpg');
    }
    &_15{
        @extend .single;
        background-image: url('../../assets/img/new_Thumbnails/1stbach/Kiloo_Thumbnails_220x220_Template_v1-assets/Game_220x220_9.jpg');
    }
    &_16{
        @extend .single;
        background-image: url('../../assets/img/new_Thumbnails/1stbach/Kiloo_Thumbnails_220x220_Template_v1-assets/Game_220x220_10.jpg');
    }
    &_17{
        @extend .single;
        background-image: url('../../assets/img/new_Thumbnails/1stbach/Kiloo_Thumbnails_220x220_Template_v1-assets/Game_220x220_11.jpg');
    }
    &_18{
        @extend .single;
        background-image: url('../../assets/img/new_Thumbnails/1stbach/Kiloo_Thumbnails_220x220_Template_v1-assets/Game_220x220_12.jpg');
    }
    &_19{
        @extend .single;
        background-image: url('../../assets/img/new_Thumbnails/1stbach/Kiloo_Thumbnails_220x220_Template_v1-assets/Game_220x220_13.jpg');
    }
    &_20{
        @extend .single;
        background-image: url('../../assets/img/new_Thumbnails/1stbach/Kiloo_Thumbnails_220x220_Template_v1-assets/Game_220x220_14.jpg');
    }
    &_21{
        @extend .single;
        background-image: url('../../assets/img/new_Thumbnails/1stbach/Kiloo_Thumbnails_220x220_Template_v1-assets/Game_220x220_15.jpg');
    }
    &_22{
        @extend .single;
        background-image: url('../../assets/img/new_Thumbnails/1stbach/Kiloo_Thumbnails_220x220_Template_v1-assets/Game_220x220_20.jpg');
    }
    &_23{
        @extend .single;
        background-image: url('../../assets/img/new_Thumbnails/1stbach/Kiloo_Thumbnails_220x220_Template_v1-assets/Game_220x220_16.jpg');
    }

}

.twoByOne{
    background-image: url('../../assets/img/grid/real_thumbnails/1.png');
    
    background-size: cover !important;;
    &_5{
        @extend .twoByOne;
        background-image: url('../../assets/img/grid/real_thumbnails/5.png');
    }
    &_2{
        @extend .twoByOne;
        background-image: url('../../assets/img/grid/real_thumbnails/2.png');
    }
    &_12{
        @extend .twoByOne;
        background-image: url('../../assets/img/grid/real_thumbnails/12.png');
    }
    
}

.twoByTwo{
    background-image: url('../../assets/img/grid/real_thumbnails/6.png');
    background-repeat: no-repeat;
    background-size: cover;

    &_9{
        background-image: url('../../assets/img/grid/real_thumbnails/9.png');
    }
}