// main: ../all-patches.less

$line-height: 1.3;

.body-wrapper .subway .subway {
  // Turns out that this broke more than it fixed, oh well
  /*
  .col-10>div:not(#ss-container) {
    margin: 0 10px 20px 10px;
  }*/

  p {
    line-height: $line-height;
  }

  h3 {
    padding-bottom: 5px;
  }

  #part-c {
    >p {
      margin-bottom: 25px;
    }
  }

  #part-e {
    p {
      padding-left: 120px;
    }
  }

  #part-f {
    img {
      padding-top: 60px;
    }
  }

  #part-coin {
    img {
      position: absolute;
      width: 100px;
    }

    p {
      padding-left: 110px;
      //margin-bottom: 40px;
      min-height: 100px;
    }
  }

  #part-characters {
    position: relative;

    img {
      position: absolute;
      right: 0;
      top: -40px;
    }

    p {
      padding-right: 170px;
      margin-bottom: 15px;
    }
  }

  #part-keys {
    position: relative;

    img {
      position: absolute;
      width: 80px;
      left: -5px;
    }

    p {
      padding-left: 95px;
      min-height: 80px;
    }
  }

  .powerup-list li {
    padding-left: 40px;
    line-height: $line-height;
    margin-bottom: 20px;
  }

  .subway-bottom-bit {
    h3 {
      text-align: center;
    }
  }
}

#ss-container>div {
  background-color: rgba(0, 0, 0, 0.5) !important;
  #sorry {
    //background-color: rgba(0, 0, 0, 0.3);
    position: relative;
    font-size: 1.5em;
    color: white;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
  }
}

@import "rtl.scss";
