// main: main.less

html[dir=rtl] {
    .body-wrapper .subway {
      #part-e {
        img {
          left: auto;
          right: 0;
        }
  
        p {
          padding-left: 0;
          padding-right: 120px;
        }
      }
  
      #part-f {
        img {
          left: 0;
          right: auto;
        }
  
        p {
          padding-right: 0;
          padding-left: 213px;
        }
      }
  
      .powerup-list {
        padding-left: 0;
        padding-right: 54px;
  
        li {
          padding-left: 0;
          padding-right: 40px;
          img {
            left: auto;
            right: -54px;
          }
        }
      }
  
      #part-coin {
        position: relative;
  
        img {
          right: 0;
          left: auto;
        }
  
        p {
          padding-right: 110px;
          padding-left: 0;
        }
      }
  
      #part-characters {
        img {
          position: absolute;
          right: auto;
          left: 0;
        }
  
        p {
          padding-right: 0;
          padding-left: 170px;
        }
      }
  
      #part-keys {
        img {
          left: auto;
          right: -5px;
        }
  
        p {
          padding-left: 0;
          padding-right: 95px;
        }
      }
    }
  }
  