


//Categories container 

.categories-container{


    .box{
        border-radius: 18px;
        padding: 42px;
        font-size: 150%;
        box-shadow: 0px 5px 7px 7px rgba(0, 0, 0, 0.1);
        background-size:contain;
        border: 2px solid #9eeafa;
        transition: transform 300ms ease-in-out;
        z-index: 4;
        
        &:hover{
            transform: scale(1.05);
        }
        &--1{
            @extend .box;
            border: 4px solid #fcac21;

            &:hover{
                transform: scale(1.05);
            }
        }
        &--2{
            @extend .box;
            border: 4px solid #ffadcd;

        }
        &--3{
            @extend .box;
            border: 4px solid #d3ff76;

        }

    }

    .category-container{

        margin:0;
        padding:0;
        overflow:hidden;
        background-color: white;
        font-size: 18px;
        position: relative;
        cursor: pointer;
        &--regular{
            @extend .category-container;
            display: flex;
            

            &__content{
                @extend .category-container--regular;
                flex:1;
                width:100px;
            }
            &__content:first-child{
                color: black;
                font-family: futura-pt-bold, sans-serif;
                text-transform: uppercase;
                font-size: 18px;
            }
            .text{
                color: black;
                font-family: futura-pt-bold, sans-serif;
                text-transform: uppercase;
                font-size: 18px;
                padding: 30px 0;
                margin: 0 10px;
                line-height: 0.9;
            }
        }
        &--popular{
            
            @extend.category-container;
            padding: 0px;
            &:hover{
                transform: scale(1.05);
            }
            .label{

                position: absolute;
                transform: translate(190px, -53px);
                z-index: 5;
                &--2x2{
                    @extend .label;
                    transform: translate(147px, -9px) scale(1);
                }

            }
    
        }
        &--pic{
            img{
                margin:0;
                padding:0;
                width:100%;
            }

        }
        &--text{

            vertical-align: middle;
            font-family: futura-pt-bold, sans-serif;
            color:black;
            text-align: center;
            font-size:18px;
            text-transform: uppercase;
            padding: 16px 0;
            &__popular{
                @extend .category-container--text;
                padding: 15px;
            }
            .sub-text{
                font-size: 12px;
                margin-bottom: 0;
                line-height:0;
                margin-top:5px;
            }
        }
    }
}
//Play NOw Container 
.play-container{
    .box{
        cursor: pointer;
    }
    .editor{

    background-image: linear-gradient(to top, #ffd35d, #fff7b2);
    border: none !important;
    font-size: 25px;
    box-shadow: 0px 5px 7px 7px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #e4fdff;
    
        .editor-container{
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;

            &--2x2{
                @extend .editor-container;
                margin-top: 32px;

            
            }
        }
    }

    .image-wrapper{
        border: 2px solid #ffde2a;
        border-radius: 18px;
        box-shadow: 0px 5px 7px 7px rgba(0, 0, 0, 0.1);
        overflow: hidden; /* required */
        width:100px;
        height:100px;
        margin: 0!important;
        padding: 0!important;
        &:hover{
            transform: scale(1.02);
        }
        .overlay{
            cursor: pointer;
            position: absolute;
            opacity: 0;
            border-radius:18px;
            background: linear-gradient(0deg, rgba(255,255,255,0) 39%, rgba(0,0,0,0.19931722689075626) 62%, rgba(0,0,0,0.6474964985994398) 100%); 
            width: 100px;
            z-index: 9999;
            text-align:center;
            -webkit-user-select: none; /* Safari */        
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* IE10+/Edge */
            user-select: none; /* Standard */
            .title{
                opacity: 0;
                font-family: futura-pt-bold, sans-serif;
            }
          
        }
        .overlay:hover{
            opacity: 1;
            transition: 0.1s linear;
      
            .title{
                opacity: 1;
                transition: 0.2s linear;
                font-size:16px;
                padding: 0 5px;
                &__small{
                    @extend .title;
                    padding-top:5px;
                    line-height: 97%;
                    font-size: 16px;
                }
            }
        }
        

      
    }

 
    .choice-text{

        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        color: #ba5d0e;
        font-family: futura-pt-bold, sans-serif;
        font-weight: 700;
        font-style: normal;
        letter-spacing: 2px;
        font-size:30px;

        &_medium{

            @extend .choice-text;
            padding: 35px 0;

        }
        &_small{

            @extend .choice-text;
            padding: 10px 0;
            font-size: 25px;
            height: 20px;

        }
        &--2x2{

            @extend .choice-text;
            letter-spacing: normal;
            font-size: 20px;
            padding-top: 18.5px;
        

        }

    }

    .label{

        position: absolute;
        transform: translate(190px, -53px);
        height: 58px;

        &_2{
            @extend .label;
            transform: translate(225px, -54px);
        }
        &--3x3{
            @extend .label;
            transform: translate(186px, -66px) scale(0.8);
        }
        &--2x3{
            @extend .label;
            transform: translate(215px, -60px) scale(0.8);
        }
        &--2x2{
            @extend .label;
            transform: translate(69px, -79.5px);
        }
    }

}

//Hot Games Container



.game-container{
    
    height: auto;


    .box{
        cursor: pointer;
        font-size:25px;
        box-shadow: 0px 5px 7px 7px rgba(0, 0, 0, 0.1);
        border-radius: 18px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #e4fdff;
        transition: transform 200ms ease;

    }
    

    .box:hover{
        transform: scale(1.05);
        
    }
    .image-wrapper{
        border: 2px solid #ffde2a;
        border-radius: 18px;
        box-shadow: 0px 5px 7px 7px rgba(0, 0, 0, 0.1);
        overflow: hidden; /* required */
        width:100px;
        height:100px;
        margin: 0!important;
        padding: 0!important;
        &:hover{
            transform: scale(1.02);
        }
        .overlay{
            position: absolute;
            overflow: hidden;
            opacity: 0;
            border-radius:18px;
            background: linear-gradient(0deg, rgba(255,255,255,0) 39%, rgba(0,0,0,0.19931722689075626) 62%, rgba(0,0,0,0.6474964985994398) 100%); 
            width: 100px;
            z-index: 9999;
            text-align:center;
            -webkit-user-select: none; /* Safari */        
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* IE10+/Edge */
            user-select: none; /* Standard */
            .title{
                opacity: 0;
                font-family: futura-pt-bold, sans-serif;
            }
          
        }
        &:hover .overlay{
            opacity: 1;
            transition: 0.1s linear;
      
            .title{
                opacity: 1;
                transition: 0.2s linear;
                font-size:16px;
                padding: 0 5px;
                &__small{
                    @extend .title;
                    padding-top:5px;
                    line-height: 97%;
                    font-size: 16px;
                }
            }
        }
        

      
    }
    .title-wrapper {
        opacity: 0;
        background: linear-gradient(0deg, rgba(255,255,255,0) 39%, rgba(0,0,0,0.19931722689075626) 62%, rgba(0,0,0,0.6474964985994398) 100%); 
        height: 100%;
        width: 100%;
        text-align:center;
        -webkit-user-select: none; /* Safari */        
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
        .title{
            opacity: 0;
            font-family: futura-pt-bold, sans-serif;
        }
        
    }
    .title-wrapper:hover{
        opacity: 1;
        transition: 0.1s linear;
        .title{
            opacity: 1;
            transition: 0.2s linear;
            font-size:16px;
            &__small{
                @extend .title;
                padding-top:5px;
                line-height: 97%;
                font-size: 16px;
            }
        }

    }
    
    &--hot1{
        @extend .box;
        background: url('../img/hot/hot_games_1.png');
    }
    &--hot2{
        @extend .box;
        background: url('../img/hot/hot_games_2.png');
    }
    &--hot3{
        @extend .box;
        background: url('../img/hot/hot_games_3.png');
    }
    &--hot4{
        @extend .box;
        background: url('../img/hot/hot_games_4.png');
    }
    &--hot5{
        @extend .box;
        background: url('../img/hot/hot_games_5.png');
    }
    &--hot6{
        @extend .box;
        background: url('../img/hot/hot_games_6.png');
    }
    &--hot7{
        @extend .box;
        background: url('../img/hot/hot_games_7.png');
    }
    &--hot8{
        @extend .box;
        background: url('../img/hot/hot_games_8.png');
    }
    &--hot9{
        @extend .box;
        background: url('../img/hot/hot_games_9.png');
    }
    &--hot10{
        @extend .box;
        background: url('../img/hot/hot_games_10.png');
    }
    &--hot11{
        @extend .box;
        background: url('../img/hot/hot_games_11.png');
    }
    &--hot12{
        @extend .box;
        background: url('../img/hot/hot_games_12.png');
    }
    &--hot13{
        @extend .box;
        background: url('../img/hot/hot_games_13.png');
    }
    &--hot14{
        @extend .box;
        background: url('../img/hot/hot_games_14.png');
    }
    &--hot15{
        @extend .box;
        background: url('../img/hot/hot_games_15.png');
    }
    &--hot16{
        @extend .box;
        background: url('../img/hot/hot_games_16.png');
    }
    &--hot17{
        @extend .box;
        background: url('../img/hot/hot_games_17.png');
    }
}






@for $icon  from 1 through 66 {
    .play-#{$icon} {
      background-image: url(../../assets/img/playNow/play_now_#{$icon}.png);
    }
  }


.play-label{
    width: 224px;
    z-index: -11;
    height: 70px;
    transform: translate(-2px, 48px);
    background: #fff7b2;
    background: linear-gradient(0deg, #fff7b2 0%, #ffd35d 100%);
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
    display: flex;
    position: relative;
    justify-items: center;
    align-content: center;
    justify-content: center;

    .text{
        padding-top:2px;
        text-transform: uppercase;
        color:#ae5000;
        font-size: 22px;
        font-family: futura-pt-bold, sans-serif;
    }
}
