@import '../../assets/css/sboxes.scss';
.video-icon{
    background:white;
    height: 42px;
    width: 52px;
    z-index: 10000;
    position: absolute;
    border-radius: 18px 0 0 0;
    transform: translate(160.4px, 113px);
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.kids_friendly_main{
    position: absolute;
    z-index: 432131;
    background: #ffd35d;
    color: #983600;
    font-family: futura-pt-bold, sans-serif;
    font-size: 13px;
    text-align: center;
    transform: translate(0px, 135.1px);
    border-top-right-radius: 12px;
    width: 100px;
    text-transform: uppercase;
}
.kids_friendly{
    position: absolute;
    z-index: 432131;
    background: #ffd35d;
    color: #983600;
    font-family: futura-pt-bold, sans-serif;
    font-size: 13px;
    text-align: center;
    height: 23px;
    transform: translate(0px, 75px);
    /* border-top-right-radius: 12px; */
    width: 100px;
    text-transform: uppercase;
}