<div *ngIf="screenWidth > 1500">
    <app-hot-games11x ></app-hot-games11x> 
</div>
 <div *ngIf="screenWidth < 1501 && screenWidth > 1400">
  
<app-hot-games10x ></app-hot-games10x> 

</div>
<div *ngIf="screenWidth < 1401 && screenWidth > 1280">
    <app-hot-games9x ></app-hot-games9x>   
</div>

<div *ngIf="screenWidth < 1281 && screenWidth > 1160">   
    <app-hot-games8x ></app-hot-games8x> 
</div>
<div *ngIf="screenWidth < 1161 && screenWidth > 1040">
    <app-hot-games7x ></app-hot-games7x> 
</div>
<div *ngIf="screenWidth < 1041 && screenWidth > 920">
    <app-hot-games6x ></app-hot-games6x> 
</div>
<div  *ngIf="screenWidth < 921 ">
   
    <app-hot-games5x ></app-hot-games5x> 
    
</div> 