<div *ngIf="screenWidth > 1500">
    <app-t11x></app-t11x>
    <app-play-again-home></app-play-again-home>
    <app-hot-games11x ></app-hot-games11x> 
</div>
 <div *ngIf="screenWidth < 1501 && screenWidth > 1400">
    <app-t10x></app-t10x>
    <app-play-again-home></app-play-again-home>
<app-hot-games10x ></app-hot-games10x> 

</div>
<div *ngIf="screenWidth < 1401 && screenWidth > 1280">
    <app-t9x></app-t9x>
    <app-play-again-home></app-play-again-home>
    <app-hot-games9x ></app-hot-games9x>   
</div>

<div *ngIf="screenWidth < 1281 && screenWidth > 1160">   
    <app-t8x></app-t8x>
    <app-play-again-home></app-play-again-home>
    <app-hot-games8x ></app-hot-games8x> 
</div>
<div *ngIf="screenWidth < 1161 && screenWidth > 1040">
    <app-t7x></app-t7x>
    <app-play-again-home></app-play-again-home>
    <app-hot-games7x ></app-hot-games7x> 
</div>
<div *ngIf="screenWidth < 1041 && screenWidth > 920">
    <app-t6x></app-t6x>
    <app-play-again-home></app-play-again-home>
    <app-hot-games6x ></app-hot-games6x> 
</div>
<div  *ngIf="screenWidth < 921 ">
    <app-t5x></app-t5x>
    <app-play-again-home></app-play-again-home>
    <app-hot-games5x ></app-hot-games5x> 
    
</div>
