<div class="play-container">
    <h1 class="category_title">Play Now</h1>
    <div class="game-container" >
        <div gdGap="20px" gdColumns="repeat(auto-fill, minmax(100px, 1fr))" gdRows="repeat(auto-fill, minmax(100px, 1fr))">
            <div   *ngFor="let box of numSequence(12); let i = index" class="box game-container play-{{i+1}}">
                <div class="title-wrapper">
                    <p class="title">Fidget Surfers</p>
                </div>
            </div>
            <div  class="game-container editor" gdColumn="auto / span 2" gdRow="auto / span 2" >
                <img class="label--2x2" src="../../assets/img/grid/label.png" alt="">
                <div class="editor-wrapper">
                  <div class="editor-container--2x2">
                      <div class="image-wrapper">
                        <div class="overlay">
                            <p class="title">Cut the Rope</p> 
                          </div>
                        <img class="choice--2x2"src="../../assets/img/grid/special_frame_small.png" alt="Editor's choice game"> 
                      </div>
                   </div>
                   <p class="choice-text--2x2">Game of the week</p>
                </div>
            </div>
           <div  *ngFor="let box of numSequence(50); let i = index" class="box game-container play-{{i+17}}">
            <div class="title-wrapper">
                <p class="title">Fidget Surfers</p>
              </div>
           </div>

        </div>
    </div>
</div>