@import '../../assets/css/sboxes.scss';
.editor{

    background-image: linear-gradient(to top, #ffd35d, #fff7b2);
    border: none !important;
    font-size:25px;
    box-shadow: 0px 5px 7px 7px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #e4fdff;

    .editor-container{
        display: flex;
        justify-content: center;
        align-items: center;

        &--2x2{
            @extend .editor-container;
            margin-top: 38px;
        }
    }
}

.choice{

    border: 2px solid #ffde2a;
    border-radius: 18px;
    box-shadow: 0px 5px 7px 7px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* required */

    &--2x2{
        @extend .choice;
        width: 100px;
    }
}
.choice-text{

    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #ba5d0e;
    font-family: futura-pt-bold, sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 2px;
    font-size:30px;

    &_medium{

        @extend .choice-text;
        padding: 35px 0;

    }
    &_small{

        @extend .choice-text;
        padding: 10px 0;
        font-size: 25px;
        height: 20px;

    }
    &--2x2{

        @extend .choice-text;
        letter-spacing: normal;
        font-size: 25px;
        padding-top: 18.5px;
    

    }

}

.label{

    position: absolute;
    transform: translate(190px, -53px);
    height: 58px;

    &_2{
        @extend .label;
        transform: translate(225px, -54px);
    }
    &--3x3{
        @extend .label;
        transform: translate(186px, -66px) scale(0.8);
    }
    &--2x3{
        @extend .label;
        transform: translate(215px, -60px) scale(0.8);
    }
    &--2x2{
        @extend .label;
        transform: translate(67px, -84.5px);
    }
}