<div class="hot-container">
    <h1 class="category_title">hot games</h1>
    <div class="game-container" >
        <div gdGap="20px" gdColumns="repeat({{columnNumber}}, 100px)" gdRows="repeat({{rowsNumber}},100px)">
            <div class="box game-container--hot1" gdColumn="auto / span 2">
                <div class="title-wrapper">
                    <p class="title">Game</p>
                  </div>
            </div>
            <div class="box game-container--hot2">
                <div class="title-wrapper">
                    <p class="title">Game</p>
                  </div>
            </div>

            <div class="box game-container--hot4">
                <div class="title-wrapper">
                    <p class="title">Game</p>
                  </div>
            </div>
            <div class="box game-container--hot5" >
                <div class="title-wrapper">
                    <p class="title">Game</p>
                  </div>
            </div>
            <div class="box game-container--hot15">
                <div class="title-wrapper">
                    <p class="title">Game</p>
                  </div>
            </div>
            <div class="box game-container--hot6">
                <div class="title-wrapper">
                    <p class="title">Game</p>
                </div>
            </div>            
            <div class="box game-container--hot4" >
                <div class="title-wrapper">
                    <p class="title">Game</p>
                </div>
            </div>

            <div class="box game-container--hot4" >
                <div class="title-wrapper">
                    <p class="title">Game</p>
                </div>
            </div>

            <div  class="game-container editor" gdColumn="{{gridPos.x}}" gdRow="{{gridPos.y}}" >
                <img class="label--2x2" src="../../assets/img/grid/label.png" alt="">
                <div class="editor-wrapper">
                  <div class="editor-container--2x2">
                    <div class="image-wrapper">
                        <div class="overlay">
                            <p class="title">Cut the <br> Rope</p> 
                          </div>
                        <img  src="../../assets/img/grid/special_frame_small.png" alt="Editor's choice game"> 
                      </div>
                   </div>
                   <p class="choice-text--2x2">Editor's Choice</p>
                </div>
            </div>

            <div class="box game-container--hot8">
                <div class="title-wrapper">
                    <p class="title">Game</p>
                </div>
            </div>
            

            <div class="box game-container--hot9">
                <div class="title-wrapper">
                    <p class="title">Game</p>
                </div>
            </div>

            <div class="box game-container--hot10" >
                <div class="title-wrapper">
                    <p class="title">Game</p>
                </div>
            </div>

            <div class="box game-container--hot11">
                <div class="title-wrapper">
                    <p class="title">Game</p>
                  </div>
            </div>
            <div class="box game-container--hot13">
                <div class="title-wrapper">
                    <p class="title">Game</p>
                  </div>
            </div>
            <div class="box game-container--hot12">
                <div class="title-wrapper">
                    <p class="title">Game</p>
                  </div>
            </div>
            <div class="box game-container--hot11">
                <div class="title-wrapper">
                    <p class="title">Game</p>
                  </div>
            </div>
            <div class="box game-container--hot11">
                <div class="title-wrapper">
                    <p class="title">Game</p>
                  </div>
            </div>

            <div class="box game-container--hot14">
                <div class="title-wrapper">
                    <p class="title">Game</p>
                  </div>
            </div>

        </div>
    </div>
</div>