<div class="searchbox">
    <form class="form-inline" method="get">
        <input #search  [@slideInOut] = "{value: searchBarOpen, params: {barWidth: barWidth}}"
          (click)="toggleHelpMenu()"
          (focus)="onFocus()"
          (blur)="onBlur()"
          (keyup)="fetchGames($event)"
          (keyup.enter)="searchWithEnter(searchUrl)"
          autocomplete="off"
           [(ngModel)]="searchInput" type="search" placeholder="SEARCH HERE" id="search" name="search"
            class="search">
    </form>
    <ul class="search-results" *ngIf="searchResult.length > 0">
      <li class="result-item category" *ngIf="searchResult.length > 0">
        <div class="image-placeholder">
        </div>
        <div class="text-placeholder">
          {{searchedCategory}}
        </div>
      </li>
        <li class="result-item"  *ngFor="let game of searchResult ">
          
          <div class="image-placeholder">
          </div>
        
          <div class="text-placeholder">
            {{game.name}}
          </div>
          
        </li>
      <li class="result-item" >
        <div class="image-placeholder">
        </div>
        <div class="text-placeholder">
          GAME
        </div>
      </li>
      <li class="result-item" >
        <div class="image-placeholder">
        </div>
        <div class="text-placeholder">
          SUPER GAME 
        </div>
      </li>
      <li class="result-item">
        <div class="image-placeholder">
        </div>
        <div class="text-placeholder">
          GAME WITH VERY LONG TITLE
        </div>
      </li>

      <li class="bottom" (click)="changeComponent(searchUrl)">

          <div class="bottom-text">
            See all
          </div>
      </li>
    </ul>
  </div>
  <div class="language-box">
    <div #menuIcon>
      <img (click)="toggleLanguageMenu()"  class="languages" src="{{selectedLanguage.img}}" alt="">
    </div>
    <div #menuPopup class="selection_list" [@showMe] = "{value: languageBarOpen}" >
      <div  gdGap="17px" gdColumns="repeat(4, 50px)" gdRows="repeat(4,50px)" >
        <div  *ngFor="let language of languages">
          <div class="language-container" (click)="onSelect(language)">     
            <img class="language-icon" src="{{language.img}}" alt="{{language.name}}"> 
          </div>
        </div>
      </div>
    </div>
  </div>