.language-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.selection_list{
    position: absolute;
    left: -247px;
    top: 45px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    background: #1f252d;
    color: white;
    z-index: -1;
    padding: 17px;
}
.language-icon{
    width:37px;
    height:37px;
    border-radius:50%;
    cursor: pointer;
}


.searchbox{
    input[type="search" i]::-webkit-search-cancel-button {
        margin-right: 6px;
    }
    height: 36px;
    position: absolute;
    right: 40px;
    top: 7px;
        input:focus {
            outline: none;
        }
        input{
            z-index: 0;
            height: 36px;
            background:#f1f3f4;
            border-radius: 25px;
            width: 300px;
            color: #a1a1a1;
            font-size: 16px;
            border: 2px solid #f1f3f4;
            @media only screen and (max-width: 1161px) and (min-width: 1040px){
                width:43px;
            }
            @media only screen and (max-width: 1041px) and (min-width: 920px){
                width:43px;
            }
            @media only screen and (max-width: 921px) {
                width:43px;
            }
            background: url('../../assets/img/grid/search_icon.png') top left no-repeat;
            background-color: #f1f3f4;
            background-size: 30px;
            background-position: 3px 2px;
            
            
            
        }
        .search{

            &::placeholder{
                color:#d5d5d5;
            }
            font-weight: 400; 
            padding-left: 40px;
            font-size: 17pt;
            font-family: futura-pt-bold, sans-serif;
            z-index: 3;
            margin-right: 5px;
            
        }
        
        .search-results{
            width: 99.5%;
            background: white;
            border-radius: 18px;
            padding: 0;

            li:hover{
                 background: #9debfc;
                 cursor: pointer;
                 border-radius: 12px;
            }
            li.category::after{
                content: "";
                display: block;
                position: absolute;
                top: 103px;
                /* margin-top: 51px;*/
                transform: translateX(-50%);
                left: 50%;
                border-radius: 18px;
                width: 97%;
                border-bottom: 3px solid #bbb;
            }
            li{

                &.category{
                    margin-top:3px;
                    height: 66px;
                }

                text-transform: uppercase;
                letter-spacing: 2px;
                display: flex;
                flex-direction: row;
                height: 60px;
                font-family: futura-pt-bold, sans-serif;
                font-size: 18px;
                color:#848484;
                align-items: center;


                /* background: #9debfc; */
                margin: 3px 4px;
                padding: 5px;

                &.bottom{
                    margin: 0;
                    text-align: center;
                    border-radius: 0;
                    background: #1883a0;
                    padding: 0;
                    border-bottom-right-radius: 18px;
                    border-bottom-left-radius: 18px;
                    .bottom-text{
                        width: 100%;
                        color: white;
                    }
                }
                hr.rounded {
                    border-top: 8px solid #bbb;
                    border-radius: 5px;
                }
                .image-placeholder{
                    background-color: #84848484;
                    width: 50px;
                    height: 50px;
                    border-radius: 10px;
                }
                .text-placeholder{
                    margin-left: 10px;
                }
                
            }
        }

    }





    .language-box{
        right:0px;
        top: 7px;
        position: absolute;
        .languages{
            cursor: pointer;
            z-index: 9999;

            border-radius: 50%;
            height: 38px;
        
        }
    }
