  <app-ad-detected (onHide)="changeHide($event)" *ngIf="adBlockOn"></app-ad-detected>
  <app-nav-game></app-nav-game>
  <app-nav></app-nav>
  <div class="body-wrapper">
    <router-outlet ></router-outlet>
    <app-ad *ngIf="!adBlockOn" ></app-ad>
  </div>
  <app-cookie-consent *ngIf="!adBlockOn && cookieAccepted === 'false' "></app-cookie-consent>
  <app-footer></app-footer>
  <ng-adblock-detect (adblockDetected)="detected($event)"></ng-adblock-detect>



