.body-wrapper{
    margin: 0 auto; 
    overflow: visible;
    max-width: 2048px ; 
    display: flex;
    align-items: center;
    justify-content: center ;
    min-height:500px;
}

.readMore{
    font-family: futura-pt-bold, sans-serif;
    font-size: 30px;
    color: #28b5d4;
}

.cc-floating.cc-theme-classic {
    padding: 1.2em !important;
    border-top-right-radius: 18px  !important;
    border-top-left-radius: 18px  !important;
    bottom: 0  !important;
}
