<div class="user-text">


<p class="seo-section-title">
   Kiloo Play ApS User Terms 
</p>
<p class="seo-section-sub-title">
    Last updated: 28th of February, 2019
</p>

<p class="seo-section-text">
    www.kiloo.com is a web game platform (the "Platform") with the main purpose to offer free to play games and related services (collectively referred to as the "Services").
<br>
Your use of the Services is subject to these user terms (the "User Terms").
<br>
The User Terms constitutes an agreement between you and Kiloo Play ApS ("Kiloo Play").
<br>
Please read the User Terms carefully before your use of the Services.
<br>
Certain parts of the Service may be subject to additional policies. Your continuous use of the Platform will in these cases be dependent on your acceptance of these policies that can be found on www.kiloo.com.
</p>

<p class="seo-section-title">
    
CONTACT INFORMATION
</p>
<p class="seo-section-text">
    The Platform is operated and owned by Kiloo Play.
<br>
Kiloo Play has the following contact information:
<br>
Kiloo Play ApS <br>
Registration number: 40025049 <br>
Bülowsgade 68, 8000 Aarhus C, Denmark   <br>  
E-mail: support@kilooplay.com <br>
You can always contact us if you have questions regarding the User Terms.
</p>

<p class="seo-section-title">
  THE FUNCTIONALITY  
</p>
<p class="seo-section-text">
   Kiloo Play offers a variety of games on the Platform. You can access the games on www.kiloo.com.
 
</p>
<p class="seo-section-title">
    
THE GAMES ARE FREE TO PLAY.
</p>
<p class="seo-section-text">
   Please note that you are responsible for choosing a browser, programs and other equipment compatible with the Platform and the Services. 
</p>

<p class="seo-section-title">
    USER BEHAVIOR
</p>
<p class="seo-section-text">
   When using the Services, you must always comply with applicable law and refrain from engaging in the following activities:  <br>   
   a) use the Platform or the Services for illegal purposes; <br>  
   b) cheat or gain unauthorised access to the Platform or the Services, or <br>  
   c) disrupt, damage, interfere with or harm the Platform, the Services or other users. <br>
    a) use the Platform or the Services for illegal purposes; <br>
    b) cheat or gain unauthorised access to the Platform or the Services, or <br>  
    c) disrupt, damage, interfere with or harm the Platform, the Services or other users.  <br>  
</p>

<p class="seo-section-title">
    INTELLECTUAL PROPERTY
</p>
<p class="seo-section-text">
   Kiloo Play or our licensors are the owners of all design and content on the Platform, including texts, graphic elements, audio, software, logos and all copyright, trademarks and additional intellectual property. <br> 

Kiloo Play grants you a non-transferable and non-exclusive license to use the Platform and the Services for personal and entertainment purposes only in accordance with these User Terms (the "License"). Kiloo Play may at its sole discretion terminate the License with immediate effect if the Services are discontinued or the User Terms are breached by you.
<br>
Please note that the License will cease automatically if you withdraw your consent or exercise your right to object to Kiloo Play's processing of your personal data.
<br>
All rights that are not granted in these User Terms remain reserved. 
</p>

<p class="seo-section-title">
   PERSONAL DATA 
</p>
<p class="seo-section-text">
   When you are using the Platform, Kiloo Play process certain personal data about you. For more information see our Privacy Policy.
 
</p>
<p class="seo-section-title">
  LIMITATION OF LIABILITY  
</p>
<p class="seo-section-text">
   To the extent permitted under applicable mandatory law, Kiloo Play shall not be liable for any personal injury, product liability or damages resulting from the Platform or the Services, including but not limited to loss of data, goodwill, earnings, revenue, lost income or business interruption. Kiloo Play's liability towards you in respect of the Services and your use thereof is capped at 10,000 DKK.
<br>
Kiloo Play shall remain liable for damage caused in cases of gross negligence or wil-ful misconduct in accordance with applicable mandatory law. 
</p>

<p class="seo-section-title">
   INDEMNIFICATION 
</p>
<p class="seo-section-text">
   You agree to indemnify and hold Kiloo Play, its employees, officers and directors harmless from all liabilities, claims, and expenses, including attorney’s fees, that arise from your use or misuse of the Services or your violation of the User Terms.
 
</p>
<p class="seo-section-title">
    CHANGES AND TERMINATION
</p>
<p class="seo-section-text">
    Kiloo Play reserves the right to supplement or otherwise make changes to these User Terms from time to time. You can always find the most recent User Terms.
<br>
Kiloo Play may at its sole discretion discontinue the Services at any time and, thereby, terminate your access to the Services without notice subject to applicable law.
<br>
Kiloo Play may with immediate effect limit, suspend or terminate your access to the Services if you have breached the User Terms.

</p>
<p class="seo-section-title">
   CHOICE OF LAW AND JURISDICTION 
</p>
<p class="seo-section-text">
    These User Terms are governed by Danish Law excluding the United Nations Convention on Contracts for the International Sale of Goods and without regard to principles of conflict of laws.
<br>
Any dispute arising out of the User Terms and the use of the Services shall be under the exclusive jurisdiction of the Danish courts.
<br>
Nothing in the User Terms shall exclude a consumer from relying of different laws or choosing additional legal venues in accordance with mandatory consumer protection law that cannot be deviated from by the choice of Danish law and jurisdiction.

</p>
<p class="seo-section-title">
   COMPLAINT 
</p>
<p class="seo-section-text">
    If you wish to complain about our Services, please contact Kiloo Play through the contract information described above.

    As a Consumer, you may also file a complaint with the Danish competition and consumer authority via www.forbrug.dk.

    Furthermore, you may use the EU-Commission's online dispute resolution platform (the ODR platform). This is particularly relevant if you are a consumer living in another EU country than Denmark. The complaint can be filed at https://ec.europa.eu/consumers/odr/main/?event=main.complaints.screeningphase. When filing a complaint, you must state the e-mail address of Kiloo Play: support@kilooplay.com.
</p>
</div>