.full-screen-ad{
    background: white;
    z-index: 5214748;
    min-height: 2px;
    height: 90px;
    color:black;
    width: 728px;
    border: 2px solid white;
        border-bottom-color: white;
        border-bottom-style: solid;
        border-bottom-width: 2px;
    border-bottom: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    position: fixed;
    bottom: 0px;
}