<div *ngIf="rating.visible" class="rating-section">
    <div class="grade-placeholder">
      <div class="grade">4.2</div>

    </div>
    <div class="text">
      <div class="upper">Rating</div>
      <div class="votes-number">32 580 votes</div>
    </div>
    <div class="rating">
        <div class="rating-upper" style="width: 85.5%">
            <span>★</span>
            <span>★</span>
            <span>★</span>
            <span>★</span>
            <span>★</span>
        </div>
        <div class="rating-lower">
            <span>★</span>
            <span>★</span>
            <span>★</span>
            <span>★</span>
            <span>★</span>
        </div>
    </div>
  </div>