.rating-section{
    display:flex;
    flex-direction: row;
    margin-bottom:20px;
    .grade-placeholder{
        width: 45px;
        height: 35px;
        border-radius: 7px;
        background-color: #e3e3e3;
        display:flex;
        justify-content: center; align-items: center;
        color: #686868;
        font-size: 18px;
        font-family: futura-pt-bold, sans-serif;
        margin-right: 12px;
    }
    .text{
        display: flex;
        /* margin-top: 0px; */
        justify-content: center;
        flex-direction: column;
        font-size: 16px;
        color: #9f9f9f;
        font-family: futura-pt-bold, sans-serif;
        .upper{
          margin-bottom: -4px;
          line-height: 135%;
        }
        .votes-number{
          margin-top: -3px;
        }
        margin-right:12px;
    
    }
    .rating {
        display: inline-block;
        justify-content: baseline;
        unicode-bidi: bidi-override;
        color: #d8d8d8;
        font-size: 25px;
        height: 25px;
        width: auto;
        transform: translateY(2px);
        margin: 0;
        position: relative;
        padding: 0;
      }
      
      .rating-upper {
        color: #f8cd21
        ;
        padding: 0;
        position: absolute;
        z-index: 1;
        display: flex;
        top: 0;
        left: 0;
        overflow: hidden;
      }
      
      .rating-lower {
        padding: 0;
        display: flex;
        z-index: 0;
      }
}