.cookie-container{
    background: white;
    color: #00537d;
    height: 242px;
    width: 523px;
    padding: 30px;
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
    position: fixed;
    bottom: 0;
    right: 20px;
    z-index: 9999999999;
    opacity: 1;
    transition: 0.3s  ease-in-out 0.3s ;
}
