<div id="cookieconsent"class="cookie-container">
    <h1 style="font-family: futura-pt-bold;font-size: 30px;color: #00537d;">Look Here!</h1>
    <div style="font-family: futura-pt-bold;font-size: 16px; margin: 10px 0;">
        We are always looking to make the gaming experience more awesome,
         so by playing on Kiloo.com you agree to us using your data to improve the site and show you the most relevant ads.
    </div>
    <div class='accept-btn' id="cookieconsent:desc" >
        
        <a [routerLink]=""
        queryParamsHandling="preserve" style='font-family: futura-pt-bold, sans-serif;font-size: 22px;color: #28b5d4;' (click)="openModal(template)">Read More</a>
        <a aria-label="dismiss cookie message"  (click)="ac()" role="button" tabindex="0"><img src="../assets/img/accept_btn.png" alt="accept consent button"></a>
       
      </div>
</div>

 

<ng-template #template let-modal>
    <div class="my-modal">
        <h1 style="font-family: futura-pt-bold;font-size: 30px;color: #00537d;">Cookies on Kiloo.com</h1>
        <div style="font-family: futura-pt-bold;font-size: 16px; margin: 10px 0;">
            We want to give you the best game experience possible. In order to do so, we use some of your data through cookies on the website. This is in order to optimize the platform with enhanched mechanics, better interface, and it gives our selected partners the ability to show you relevant ads. Go to our privacy policy to learn even more.
        </div>
        <a aria-label="dismiss cookie message"  (click)="ac()" role="button" tabindex="0"><img src="../assets/img/accept_btn.png" alt="accept consent button"></a>
    
    </div>
</ng-template>
  
  
