@import '../../assets/css/sboxes.scss';
.video-icon{
    background:white;
    height: 42px;
    width: 52px;
    z-index: 10000;
    position: absolute;
    border-radius: 18px 0 0 0;
    transform: translate(160.4px, 113px);
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}