<div class="categories">
    <h1 class="category_title">Categories</h1>
    <div class="categories-container" >
        <div gdGap="20px" gdColumns="repeat({{columnNumber}}, 100px)" gdRows="repeat({{rowsNumber}},100px)">
            <div  class="box--1 category-container--popular" gdColumn="auto / span 2" gdRow="auto / span 2" >
                <img class="label--2x2" src="../../assets/img/category/categories_badge.png" alt="">
                <div class="video-icon">
                    <img src="../../assets/img/category/camera_icon.png" alt="">
                </div>
                <div class="category-container--pic">
                    <img src="../../assets/img/category/promoted_thumb_1.png" alt="">
                </div>
                <div class="category-container--text__popular">
                    <p class="sub-text">MOST POPULAR</p>
                    {{getDetails(1).Name}} Games
                </div>
            </div>
            <div  class="box--2 category-container--popular " gdColumn="auto / span 2" gdRow="auto / span 2" >
                <a routerLink='/category/girl'> 
                <div class="video-icon">
                    <img src="../../assets/img/category/camera_icon.png" alt="">
                </div>
                <div class="category-container--pic">
                    <img src="../../assets/img/category/promoted_thumb_2.png" alt="">
                </div>
                <div class="category-container--text">
                    {{getDetails(2).Name}} Games
                </div>
                </a>
            </div>
            <div  class="box--3 category-container--popular" gdColumn="auto / span 2" gdRow="auto / span 2" >
                <div class="video-icon">
                    <img src="../../assets/img/category/camera_icon.png" alt="">
                </div>
                <div class="category-container--pic">
                    <img src="../../assets/img/category/promoted_thumb_3.png" alt="">
                </div>
                <div class="category-container--text">
                    {{getDetails(3).Name}} games
                </div>
            </div>
            <div class="box category-container--regular" gdColumn="auto / span 2">
                <div class="category-container--regular__content">
                    <img src="../../assets/img/category/category_1.png" alt="">
                </div>
                <div class="category-container--regular__content text">
                    {{getDetails(4).Name}} games
                </div>
            </div>
            <div class="box category-container--regular" gdColumn="auto / span 2">
                <div class="category-container--regular__content">
                    <img src="../../assets/img/category/category_2.png" alt="">
                </div>
                <div class="category-container--regular__content text">
                    {{getDetails(5).Name}} games
                </div>
            </div>            
            <div class="box category-container--regular" gdColumn="auto / span 2">
                <div class="category-container--regular__content">
                    <img src="../../assets/img/category/category_3.png" alt="">
                </div>
                <div class="category-container--regular__content text">
                    {{getDetails(6).Name}} games
                </div>
            </div>
            <div class="box category-container--regular" gdColumn="auto / span 2">
                <div class="category-container--regular__content">
                    <img src="../../assets/img/category/category_4.png" alt="">
                </div>
                <div class="category-container--regular__content text">
                    {{getDetails(7).Name}} games
                </div>
            </div>
            <div class="box category-container--regular" gdColumn="auto / span 2">
                <div class="category-container--regular__content">
                    <img src="../../assets/img/category/category_5.png" alt="">
                </div>
                <div class="category-container--regular__content text">
                    {{getDetails(8).Name}} games
                </div>
            </div>
            <div class="box category-container--regular" gdColumn="auto / span 2">
                <div class="category-container--regular__content">
                    <img src="../../assets/img/category/category_6.png" alt="">
                </div>
                <div class="category-container--regular__content text">
                    {{getDetails(8).Name}} games
                </div>
            </div>
            <div class="box category-container--regular" gdColumn="auto / span 2">
                <div class="category-container--regular__content">
                    <img src="../../assets/img/category/category_7.png" alt="">
                </div>
                <div class="category-container--regular__content text">
                    {{getDetails(9).Name}} games
                </div>
            </div>
            <div class="box category-container--regular" gdColumn="auto / span 2">
                <div class="category-container--regular__content">
                    <img src="../../assets/img/category/category_8.png" alt="">
                </div>
                <div class="category-container--regular__content text">
                    {{getDetails(10).Name}} games
                </div>
            </div>
            <div class="box category-container--regular" gdColumn="auto / span 2">
                <div class="category-container--regular__content">
                    <img src="../../assets/img/category/category_9.png" alt="">
                </div>
                <div class="category-container--regular__content text">
                    {{getDetails(11).Name}} games
                </div>
            </div>

        </div>
    </div>
</div>