
<div class="home subway" id="html-page">
  <div class="container">
    <div class="row">
      <div class="col-10" style="padding-left: 10px">
        <script>
          window.pageTemplateName = "subwaysurfers";
        </script>
        <div class="home subway">
          <div class="container-slim pt-10">
            <div class="row">
              <div
                class="col-10"
                style="padding-left: 10px; position: relative"
              >
                <img
                  src="../../assets/img/subway/ss-test.png"
                  style="width: 100%; height: auto"
                />
                <div id="ss-container"></div>
              </div>
              <!-- start new stuff -->
              <div class="game-subsection">
                <div class="new-wait-text">
                  <p></p>
                </div>

                <div id="title-play-button" class="game-play-button-disabled">
                  <div class="mobile-button">
                    <div class="mobile-button-bg"></div>
                    <div class="mobile-button-left"></div>
                    <div class="mobile-button-right"></div>
                    <div class="mobile-button-center"></div>
                  </div>
                  <div class="button-highlight"></div>
                </div>

                <div class="game-info">
                  <div class="game-thumbnail">
                    <img
                      id="title-thumbnail"
                      src="../../assets/img/subway/missing-242x175.png"
                    />
                  </div>
                  <div class="game-textbox">
                    <h1 class="game-title">Game title</h1>
                    <h2 class="game-publisher">Publisher name</h2>
                  </div>
                </div>
              </div>
              <!-- end new stuff -->
            </div>
            <div class="row">
              <div id="stores">
                <div class="section">
                  <a
                    href="https://itunes.apple.com/app/subway-surfers/id512939461?mt=8&ign-mpt=uo%3D6"
                    target="_blank"
                    rel="noopener"
                    ><img src="../../assets/img/subway/store-apple.png"
                  /></a>
                </div>
                <div class="section">
                  <a
                    href="https://play.google.com/store/apps/details?id=com.kiloo.subwaysurf&hl=da"
                    target="_blank"
                    rel="noopener"
                    ><img src="../../assets/img/subway/store-play.png"
                  /></a>
                </div>
                <div class="section">
                  <a
                    href="https://www.amazon.com/Subway-Surfers-Kindle-Tablet-Edition/dp/B009UX2YAC"
                    target="_blank"
                    rel="noopener"
                    ><img src="../../assets/img/subway/store-amazon.png"
                  /></a>
                </div>
                <div class="section">
                  <span data-href="aHR0cHM6Ly9wb2tpLmNvbQ==" class="href"
                    ><img
                      src="https://www.kiloo.com/uploads/page/3/1565071773-1564661733-poki-badge_dark.png"
                  /></span>
                </div>
              </div>
            </div>
          </div>
          <div class="container-slim pt-10">
            <div class="row">
              <div class="col-10" style="padding-left: 10px">
                <div id="part-a">
                  <h3>Adventure is calling, surfer!</h3>
                  <p>
                    Those old subway tracks are littered with gold, but it will
                    take plenty of guts and fast feet for you to nab it for
                    yourself. In Subway Surfers online, it’s up to Jake and his
                    sprinting band of buddies to get down to the tracks, outpace
                    that grumpy security guard and grab the gold without being
                    smacked by a subway car. Fly down the tracks and don’t stop,
                    because this desktop game waits for no one! That’s right, we
                    said desktop. As one of the most downloaded games around,
                    Subway Surfers is enjoyed by people all over the globe. Now,
                    you can keep pattering across the pavement from the comfort
                    of your desktop computer! First-time surfer? No worries,
                    because this unblocked Subway Surfers game is easy and fun
                    to learn, but tough to master. Let’s break down the
                    gameplay.
                  </p>
                </div>
                <div id="part-b">
                  <img
                    src="../../assets/img/subway/jake.png"
                    class="jake img-right"
                  />
                  <h3>Around, Over or Under: Whatever It Takes</h3>
                  <p>
                    At the start of every free Subway Surfers online game, you
                    find yourself hoofing your way down the tracks with that
                    lumbering inspector breathing right down your neck. If you
                    stop for even one second, he’s going to snatch you up by the
                    collar, so it’s full speed ahead no matter what, got it? As
                    you sprint and surf down the subway, you will dash left and
                    right across three lanes to avoid obstacles. You’ll soon
                    find that the subway surface is littered with all kinds of
                    stuff that you have to dash around, duck under or jump over.
                    Your biggest concern, of course, is the subway cars that are
                    barreling right towards you! That’s right, you’re running
                    against traffic. What, you didn’t think the whole subway
                    would stop just so you could grab some gold, did you?
                    Speaking of gold, you’re not down there just to have fun
                    risking your neck. You’re grabbing as many gold coins as you
                    can. Dash side to side, surf with your hoverboard, and do
                    whatever else you have to do to get the loot without going
                    splat! And that was your Kiloo Play Now introduction to the
                    web-version of Subway Surfers.
                  </p>
                </div>
                <div id="part-g">
                  <h3>Taking Your Surfing Skills to a Global Stage</h3>
                  <p>
                    Of course, there’s a lot more to being a Subway Surfer than
                    just running down the same track and grabbing coins. This
                    game has so many downloads, it has its own community!
                    Thousands of surfers take to the tracks every month, so to
                    keep things interesting, the Subway Surf game crew created
                    rotating special characters, promos, and our personal
                    favorite, the World Tour. What’s the World Tour, you ask?
                    Every few weeks, the Subway Surfers crew heads to another
                    location around the world. At each tour stop, there’s a
                    character unique to that area who can give you a tour of the
                    tracks. You’ll soon see that the subway cars, obstacles and
                    scenery around you are totally different. Awesome, right?
                    This allows the Subway Surfers game community a chance to
                    keep things exciting and show their surfing skills off to
                    the whole world. You won’t be able to shove off much,
                    though, if you don’t master a few things first. Let’s take a
                    look.
                  </p>
                </div>
                <div id="part-e">
                  <h3>Become a Subway Surfing Legend</h3>
                  <img src="../../assets/img/subway/award.png" />
                  <p>
                    Sure, you’re young, quick and full of nerve, but that
                    doesn’t mean you won’t bounce off the back of a subway train
                    like the rest of us! If you’re going to grab more than just
                    a few coins with each run, you will definitely want to know
                    what you’re up against first. Alright, so let’s talk Subway
                    Surfers game obstacles. We’ll start from the ground up. See
                    those striped construction signs? They’re sturdier than they
                    look. You can jump over the short ones and roll under the
                    tall ones. As usual, a quick dash to the side will also do
                    the trick, so long as you have the space for it. Next,
                    you’ve got shrubs and bushes. There’s no rolling under these
                    firmly planted obstacles – you have to jump! The same goes
                    for high ledges and bridges, which you’ll need to jump onto.
                    Last but not least are the vehicles. Some of the subway cars
                    are coming right at you, and some of them are parked. Unless
                    you’re on a surfboard, you will certainly not win in a
                    head-on collision!
                  </p>
                </div>
                <div id="part-d">
                  <h3>Here Are Some Shortcuts on Us</h3>
                  <p>
                    We’re so excited to bring you the desktop Subway Surfers
                    runner game that we would like to give you some words of
                    wisdom to help you reach that pro skill level faster. First
                    and foremost, learn how to quickly come down from a power
                    jump. Sometimes, you realize in midair that you’re about to
                    smack into a high obstacle, so you need to land quickly. By
                    pressing down, you can come rocketing back to the ground and
                    even roll under a high obstacle immediately after landing.
                    It’s a super important skill, so make sure you master it!
                    Also, don’t forget that you can control Jake’s (and all the
                    other characters) movement in the air. If you need to dash
                    to another lane while in midair, you can! Finally, make sure
                    you are always looking as far ahead as you can. The farther
                    you can see, the more time you will have to react to what’s
                    coming. These are all great Subway Surfers internet games
                    tips for just staying alive, but what about Word Hunt, High
                    Scores, consumables and objectives? If you like cool gear
                    and your name on a High Score list, you won’t want to miss
                    out on these fun features.
                  </p>
                </div>
                <div id="part-f">
                  <img src="../../assets/img/subway/abc.png" />
                  <h3>So Much to Do, So Little Time!</h3>
                  <p>
                    One of the first things that may seem a little odd to you
                    first time surfers out there is letters that you’ll find
                    floating around on the tracks. Usually, these letters hang
                    out in hard-to-reach areas, so make sure you’re ready for a
                    daring maneuver ahead of time. This feature is called “Word
                    Hunt.” Each day, the letters spell out a different word. If
                    you can grab them all, you’ll get some awesome loot! For
                    every consecutive day that you complete the Word Hunt, the
                    prizes will be even better. Between clambering for letters
                    and jacking up that high score, you’re sure to have plenty
                    to do in this Subway Surfers online game. Even so, we always
                    want to make sure that the best games on Kiloo Play Now have
                    new objectives and awards added all the time. After all, the
                    mobile version of Subway Surfers has achieved
                    record-breaking download numbers for years now, which
                    couldn’t have been done without fun objectives and awards!
                    Whether you’re grinding for a special item, performing a set
                    number of successful rolls, jumps or dashes for score
                    bonuses or whatever else, you never know what kind of
                    challenge you might come across. We have new awards and
                    objectives all the time, so be ready for anything!
                  </p>
                </div>
                <div id="part-c">
                  <h3>Hm, I Wonder What That Thing Does...</h3>
                  <p>
                    Endless runners are the perfect opportunity for fun
                    power-ups and items, and Subway Surfers online is no
                    exception. Sure, you can “leg it” with Jake or any of the
                    other characters, but it’s always nice to have a little
                    extra oomph for those tricky situations. For that reason,
                    Subway Surfers online play always features plenty of awesome
                    power-ups for you to try and upgrade! Check these out:
                  </p>
                  <ul class="powerup-list">
                    <li>
                      <img src="../../assets/img/subway/board.png" />
                      <strong>Stylish Hoverboards</strong><br />
                      What if you could run without running? That’s right, in
                      Subway Surfers online play, you can levitate off of the
                      tracks on a fancy hoverboard. You’ll still be able to dash
                      from side to side, jump, duck and collect coins, but now,
                      you’ll have a little extra insurance. If you crash into an
                      obstacle, you’ll survive! Your hoverboard won’t, but hey,
                      at least you’re still running. Hop on one as soon as you
                      can – they’re super fun.
                    </li>
                    <li>
                      <img src="../../assets/img/subway/sneaker.png" />
                      <strong>Super Sneakers</strong><br />
                      If you thought you could jump high without them, just wait
                      until you lace these Super Sneakers on and start bounding
                      over entire subway cars. Look for the icon that looks like
                      a pair of shoes, and when you get them, get ready for your
                      next few jumps to be more than twice as high! This is very
                      handy in online Subway Surfers play, because you might get
                      stuck into a corner with no way out but straight up.
                    </li>
                    <li>
                      <img src="../../assets/img/subway/multiplier.png" />
                      <strong>Score Multiplier and More</strong><br />
                      Showboating in super bouncy sneakers or fancy hoverboards
                      may be super fun, but if a high score is your mission,
                      then there’s no better way to get there than the score
                      multiplier. Find this star spinning around out there and
                      grab it to instantly double your score. Combine it with
                      other multipliers and items to burn through points way
                      faster and break all kinds of records. The list of items
                      goes on and on, from paint-powered Jetpacks to magnets
                      (for collecting more coins) and more. We don’t want to
                      give too much exclusive Subway Surfers online content
                      away, so you’ll just have to discover the rest in the
                      Shop. Speaking of, let’s talk shop!
                    </li>
                  </ul>
                </div>
                <div id="part-coin">
                  <h3>Open 24/7, 365</h3>
                  <img src="../../assets/img/subway/coins.png" alt="" />
                  <p>
                    All those sparkly coins and random chests full of loot
                    wouldn’t do you much good if you couldn’t spend it, now
                    would they? When you’re ready to take a short break from
                    dashing and dodging to spend your hard-earned coins, keys,
                    and pieces, then to the store it is. Let’s see what’s in
                    stock, shall we?
                  </p>
                </div>
                <div id="part-characters">
                  <h3>Characters</h3>
                  <img src="../../assets/img/subway/character.png" />
                  <p>
                    On the core crew, you’ve got our starting hero Jake, Tricky,
                    Yutani, Fresh and several others. Some of these characters
                    are unlocked with special tokens you find on the tracks
                    (like Fresh’s boombox, for example). Collect enough, and
                    you’ll earn that character. Special characters will usually
                    require a fistful of coins, so make sure you’ve been saving
                    up! Whether it’s tokens, coins or keys you’ll have to make
                    plenty of solid Subway Surfers game runs to get them all.
                  </p>
                </div>
                <div class="">
                  <h3>Boards</h3>
                  <p>
                    If you thought there were a lot of surfers to choose from in
                    this unblocked Subway Surfers game, just wait until you make
                    your way to the hoverboards! Browse dozens of designs and
                    pick out your favorite. Try it out on the track and earn
                    some more loot for your next board. Want to really gain an
                    edge? Look for hoverboards with a performance boost! Some of
                    them have enhanced speed or jump height, for example. You
                    can build a huge collection or stick to a couple of your
                    favorites – the choice is yours.
                  </p>
                </div>
                <div id="part-keys">
                  <h3>Coins, Keys and Special Items</h3>
                  <img src="../../assets/img/subway/bunch.png" />
                  <p>
                    Love shortcuts? If so, you can get way ahead of the game by
                    heading to the store for some extra coins or keys. Spend
                    tokens in order to unlock a huge chest of Subway Surfers
                    coins, a sack filled with keys, or even some mystery
                    treasure chests. Once you’ve loaded up on enough resources
                    to last you for a while, the only thing left to do is surf!
                  </p>
                </div>
                <div class="">
                  <h3>
                    Unblocked, Free and Online: Subway Surfers for PC is Better
                    than Ever
                  </h3>
                  <p>
                    The online Subway Surfers community now has yet another way
                    to traverse the tunnels. Kiloo Play Now is bringing you a
                    completely free, completely unblocked version of the
                    record-breaking title for desktop. Subway Surfer for PC is
                    now live! You never have to pay for the base game, and you
                    will never be held back by pesky game blockers on school or
                    library computers! We believe that everyone should have the
                    opportunity to play their favorite games.
                  </p>
                </div>
                <div class="subway-bottom-bit">
                  <h3>Ready to surf? Let’s hit the tracks!</h3>
                  <img
                    src="../../assets/img/subway/bag.png"
                    class="bag city"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
