@import '../../assets/css/main.scss';
@import '../../assets/css/rtl.scss';

.disabled{
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}
.disabled img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}


            .page-error p,
    .page-error a,
    .home h3,
    h1,
    .new-games h3,
    .popular-game-categories h3,
    .popular-game-categories a,
    .popular-game-categories a p,
    .popular-game-categories span,
    .popular-game-categories span p
    {
        color:black !important;
    }

        .body-wrapper nav.navbar-default{
    background-color: #1f252d !important;
}

        .body-wrapper nav.navbar-default{
    color: white !important;
}

.slug-subway-surfers .home .subway, .slug-frisbee-forever .home .subway{
    background-color:#FCF3EA;
}
.slug-subway-surfers .home .subway h1,
.slug-subway-surfers .home .subway h3,
.slug-frisbee-forever .home .subway h1,
.slug-frisbee-forever .home .subway h3
{
    color:black !important;
}