<div class="top-container">
    <div class="top-grid" style="height: auto;">
      <div gdGap="20px" gdColumns="repeat(8, 100px)" gdRows="repeat(6,100px)" >
        <div class="box subway" gdColumn="auto / span 2" gdRow="auto / span 2">
          <div class="video-icon-top">
            <img src="../../../../assets/img/category/camera_icon.png" alt="">
          </div>
        </div>
        <div class="box update"></div>
        <div class="box twoByOne_5" gdColumn="auto / span 2"></div>
        <div class="box editor editor--2x3" gdColumn="auto / span 3" gdRow="auto / span 2" >
            <img class="label--2x3" src="../../../assets/img/labels/label_2.png" alt="">
            <div class="editor-wrapper">
              <div class="editor-container--2x3">
                <img class="choice"src="../../assets/img/grid/special_frame_medium100px.png" alt="Editor's choice game"> 
               </div>
               <p class="choice-text_small">Editor's Choice</p>
            </div>
        </div>
        <div class="box single"></div>
        <div class="box twoByTwo" gdColumn="auto / span 2" gdRow="auto / span 2">
          <div class="video-icon-top">
            <img src="../../../../assets/img/category/camera_icon.png" alt="">
          </div>
        </div>
        <div class="box twoByOne"  gdColumn="auto / span 2"></div>
        <div class="box candySwipe"></div>
        <div class="box twoByTwo_9" gdColumn="auto / span 2" gdRow="auto / span 2">
          <div class="video-icon-top">
            <img src="../../../../assets/img/category/camera_icon.png" alt="">
          </div>
        </div>
        <div class="box single_10"></div>
        <div class="box twoByOne_2" gdColumn="auto / span 2"></div>
        <div class="box single_4"></div>
        <div class="box single_7"></div>
        <div class="box single_8"></div>
        <div class="box single_11"></div>
        <div class="box single_13"></div>
        <div class="box single_14"></div>
        <div class="box twoByOne_12" gdColumn="auto / span 2"></div>
        <div class="box single_15"></div>
        <div class="box upZone"></div>
        <div class="box single_16"></div>
        <div class="box single_17"></div>
        <div class="box single_18"></div>
        <div class="box single_19"></div>
        <div class="box single_20"></div>
        <div class="box single_21"></div>

      </div>
    </div>
  </div>
  