<div class="disabled-container">
    <div class="game-container" >
        <div gdGap="20px" gdColumns="repeat({{columnNumber}}, 100px)" gdRows="repeat(auto-fill, minmax(100px, 1fr))">
            
             <div   *ngFor="let box of numSequence(4); let i = index" ng-disabled="disabled" class="box game-container play-{{i+1}} disabled "></div>
        </div>
    </div>
</div>