@import '../../assets/css/sboxes.scss';
.disabled-container{
  margin-top:90px; 
  margin-bottom:40px;
}
.box.disabled.game-container:hover{
  transform: none !important;
  cursor:not-allowed ;
}
.disabled {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%); 
}
@for $icon  from 1 through 5 {
    .play-#{$icon} {
      background-image: url(../../assets/img/playNow/play_now_#{$icon}.png);
    }
  }