/* You can add global styles to this file, and also import other style files */
a:link ,a:visited ,  a:hover, a {
     color:white !important; 
    }
body{
    a:visited{
        color:white;
    }
    //cookie consent
    .cc-floating.cc-theme-classic {
        padding: 1.2em;
        border-top-right-radius: 18px;
        border-top-left-radius: 18px;
    }
    .cc-window.cc-floating {
        padding: 2em;
        max-width: 1000px;
        flex-direction: column;
    }
    .cc-revoke, .cc-window {
        position: fixed;
        overflow: hidden;
        box-sizing: border-box;
        font-family: futura-pt-bold, sans-serif;
        font-size: 16px;
        line-height: 1.5em;
        display: flex;
        bottom: 0;
        flex-wrap: nowrap;
        z-index: 52147491;
        width: 523px;
        max-width: none;
    }
    .accept-btn{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    //@import 'assets/css/grid.scss';
    .body-container{
        height: 100%;
        padding: 0;
        margin: 0;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: center;
    }
     a{
         text-decoration: none !important;
     }
     a:visited {color:white;}
    @import 'assets/css/grid_real.scss';
    position:absolute;
    //left:50%;
    //transform: translate(-50%);
    width: 100%;
    margin:0;
    overflow-x:hidden;
    img{
        user-drag: none; 
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;

    }
    /*GLOBAL VARIABLES*/
    $futura-bold: futura-pt-bold, sans-serif;
    $futura-book: futura-pt, sans-serif;
    
    display: block;
    background:#faf5eB; 
    background-color: black;
    background-image: url('./assets/img/bg_bright2.png');
    background-repeat:  repeat-x   repeat-y;

    
    .body-wrapper{
        color:white !important;

    }
    /*SEO TEXT*/

    .seo-section-title{
        font-family: $futura-bold;
        font-weight: 700;
        font-style: normal;
        font-size: 20px;
        color: #00537d ;
    }
    .seo-section-sub-title{
        font-family: $futura-bold;
        font-weight: 700;
        font-style: normal;
        font-size: 18px;
        color: #00537d ;
    }
    .seo-section-text{
        font-family: $futura-book;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
        color: #00537d ;
    }

     /*TEXT FORMATTING*/

    .category{

        &_title{
            margin-top:60px;
            margin-bottom: 20px;
            font-size: 45px;
            color: #1f252d;
            font-family: $futura-bold;
            text-transform: uppercase;
        }
    }

}
.modal-backdrop{
    z-index: 12345215321 !important;
}
.modal-open .modal {
    top:250px;
    z-index: 12343221312 !important;
}
.modal-content{
    position: relative !important;
    display: flex !important;
    padding: column !important;
    text-align: center !important;
    width: 100%;
    pointer-events: auto;
    background-color: #fff !important;
    /* background-clip: padding-box; */
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    border-radius: 0.3rem;
    outline: 0;
    width: 610px !important;
    height: 273px !important;
    border-radius: 21px !important;
    border: none !important;
    padding: 20px !important;

}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
