<div class="hot-container">
    <h1 class="category_title">hot games</h1>
    <div class="game-container" >
        <div gdGap="20px" gdColumns="repeat(11, 100px)" gdRows="repeat(2,100px)">
            <div class="box game-container--hot1" gdColumn="auto / span 2">
                <div class="title-wrapper">
                    <p class="title">Game</p>
                  </div>
            </div>
            <div class="box game-container--hot2">
                <div class="title-wrapper">
                    <p class="title">Game</p>
                  </div>
            </div>
            <div class="box game-container--hot3">
                <div class="title-wrapper">
                    <p class="title">Game</p>
                  </div>
            </div>
            <div class="box game-container--hot4">
                <div class="title-wrapper">
                    <p class="title">Game</p>
                  </div>
            </div>
            <div class="box game-container--hot5" gdColumn="auto / span 2">
                <div class="title-wrapper">
                    <p class="title">Game</p>
                  </div>
                </div>
            <div class="box game-container--hot6">
                <div class="title-wrapper">
                    <p class="title">Game</p>
                </div>
            </div>
            <div class="box game-container--hot7">
                <div class="title-wrapper">
                    <p class="title">Game</p>
                </div>
            </div>
            <div class="box game-container--hot8">
                <div class="title-wrapper">
                    <p class="title">Game</p>
                </div>
            </div>
            <div class="box game-container--hot9">
                <div class="title-wrapper">
                    <p class="title">Game</p>
                </div>
            </div>
            <div class="box game-container--hot10" gdColumn="auto / span 2">
                <div class="title-wrapper">
                    <p class="title">Game</p>
                </div>
            </div>
            <div class="box game-container--hot11">
                <div class="title-wrapper">
                    <p class="title">Game</p>
                  </div>
            </div>
            <div class="box game-container--hot12" gdColumn="auto / span 2">
                <div class="title-wrapper">
                    <p class="title">Game</p>
                  </div>
            </div>
            <div class="box game-container--hot13">
                <div class="title-wrapper">
                    <p class="title">Game</p>
                  </div>
            </div>
            <div class="box game-container--hot14">
                <div class="title-wrapper">
                    <p class="title">Game</p>
                  </div>
            </div>
            <div class="box game-container--hot15">
                <div class="title-wrapper">
                    <p class="title">Game</p>
                  </div>
            </div>
            <div class="box game-container--hot16" gdColumn="auto / span 2">
                <div class="title-wrapper">
                    <p class="title">Game</p>
                  </div>
            </div>
            <div class="box game-container--hot17">
                <div class="title-wrapper">
                    <p class="title">Game</p>
                  </div>
            </div>
        </div>
    </div>
</div>