<div class="all-games-container">
    <h1 class="category_title">All Games</h1>
    <div class="game-container" >
        <div gdGap="20px" gdColumns="repeat(auto-fill, minmax(100px, 1fr))" gdRows="repeat(auto-fill, minmax(100px, 1fr))">
            <div class="box subway video-wrap"    gdColumn="auto / span 2" gdRow="auto / span 2">
                <div style="height: 100%;" class="video">
                  <video  loop class="video-play" preload="none" #videoPlayer>
                      <source src="../../../../assets/video/animated_thumbnail_242x175_subwaysurfers_tokyo.mp4" type="video/mp4" />
                  </video>
                </div>
                <div [ngClass]="{'hide':video1On === true}" class="video-icon-top" >
                  <img src="../../../../assets/img/category/camera_icon.png" alt="">
                </div>
                <div class="title-wrapper" (mouseenter)="toggleVideo($event)" (mouseleave)="hideVideo($event)">
                  <p class="title">Subway Surfers</p>
                </div>
            </div>
            <div   *ngFor="let box of numSequence(6); let i = index" class="box game-container play-{{i+10}}">
                <div class="title-wrapper">
                    <p class="title">Fidget Surfers</p>
                </div>
            </div>
            <div class="editor-special" gdColumn="{{threeByThree.x}}" gdRow="{{threeByThree.y}}" >
                <img class="label--3x3" src="../../../assets/img/grid/label2.png" alt="">
                <div class="editor-wrapper">
                  <div class="editor-container--3x3 ">
                    <div class="overlay" (mouseenter)="toggleVideoEditor($event)" (mouseleave)="hideVideo($event)">
                      <p class="title">Cut the Rope</p> 
                    </div>
                    <div class="img-container ">
                      <div class="video-icon-top--editor">
                        <img src="../../../../assets/img/category/camera_icon.png" alt="">
                      </div>
                      <img style="height: 100%;"src ="../../../../assets/img/grid/special_frame_big100px.png" alt="Editor's choice game"> 
                      <div style="height: 100%;" class="video">
                        <video  loop class="video-play-editor" preload="none" #videoPlayerEditor>
                            <source src="../../../../assets/video/animated_thumbnail_242x175_CutTheRope2.mp4" type="video/mp4" />
                        </video>
                      </div>
    
                    </div>
                    
                   </div>
                   <p class="choice-text_small">Editor's Choice</p>
                </div>
            </div>
            
            <div   *ngFor="let box of numSequence(38); let i = index" class="box game-container play-{{i+3}}">
                <div class="title-wrapper">
                    <p class="title">Fidget Surfers</p>
                </div>
            </div>
            <div  class="game-container editor" gdColumn="auto / span 2" gdRow="auto / span 2" >
                <img class="label--2x2" src="../../assets/img/grid/label.png" alt="">
                <div class="editor-wrapper">
                  <div class="editor-container--2x2">
                      <div class="image-wrapper">
                        <div class="overlay">
                            <p class="title">Shooting Game in Rope</p> 
                          </div>
                        <img class="choice--2x2"src="../../assets/img/grid/special_frame_small.png" alt="Editor's choice game"> 
                      </div>
                   </div>
                   <p class="choice-text--2x2">Game of  the week</p>
                </div>
            </div>
           <div  *ngFor="let box of numSequence(35); let i = index" class="box game-container play-{{i+1}}">
            <div class="title-wrapper">
                <p class="title">Fidget Surfers</p>
              </div>
           </div>
          <div   *ngFor="let box of numSequence(38); let i = index" class="box game-container play-{{i+3}}">
            <div class="title-wrapper">
                <p class="title">Fidget Surfers</p>
            </div>
          </div>

          <div   *ngFor="let box of numSequence(38); let i = index" class="box game-container play-{{i+3}}">
            <div class="title-wrapper">
                <p class="title">Fidget Surfers</p>
            </div>
        </div>
        <div   *ngFor="let box of numSequence(63); let i = index" class="box game-container play-{{i+3}}">
          <div class="title-wrapper">
              <p class="title">Fidget Surfers</p>
          </div>
        </div>
        <div   *ngFor="let box of numSequence(63); let i = index" class="box game-container play-{{i+3}}">
          <div class="title-wrapper">
              <p class="title">Fidget Surfers</p>
          </div>
        </div>
        <div   *ngFor="let box of numSequence(63); let i = index" class="box game-container play-{{i+3}}">
          <div class="title-wrapper">
              <p class="title">Fidget Surfers</p>
          </div>
        </div>
        <div   *ngFor="let box of numSequence(63); let i = index" class="box game-container play-{{i+3}}">
          <div class="title-wrapper">
              <p class="title">Fidget Surfers</p>
          </div>
        </div>
        <div   *ngFor="let box of numSequence(63); let i = index" class="box game-container play-{{i+3}}">
          <div class="title-wrapper">
              <p class="title">Fidget Surfers</p>
          </div>
        </div>
        <div   *ngFor="let box of numSequence(63); let i = index" class="box game-container play-{{i+3}}">
          <div class="title-wrapper">
              <p class="title">Fidget Surfers</p>
          </div>
        </div>
        <div   *ngFor="let box of numSequence(63); let i = index" class="box game-container play-{{i+3}}">
          <div class="title-wrapper">
              <p class="title">Fidget Surfers</p>
          </div>
        </div>
        <div   *ngFor="let box of numSequence(63); let i = index" class="box game-container play-{{i+3}}">
          <div class="title-wrapper">
              <p class="title">Fidget Surfers</p>
          </div>
        </div>
        <div   *ngFor="let box of numSequence(63); let i = index" class="box game-container play-{{i+3}}">
          <div class="title-wrapper">
              <p class="title">Fidget Surfers</p>
          </div>
        </div>
        <div   *ngFor="let box of numSequence(63); let i = index" class="box game-container play-{{i+3}}">
          <div class="title-wrapper">
              <p class="title">Fidget Surfers</p>
          </div>
        </div>
        </div>
    </div>

    <app-disabled-games></app-disabled-games>
    <app-text></app-text>
</div>