@import '../../assets/css/sboxes.scss';
.category_title{
    margin-top: 20px;
}
@for $icon  from 1 through 66 {
  .play-#{$icon} {
    background-image: url(../../assets/img/playNow/play_now_#{$icon}.png);
  }
}

.all-games-container{
    

    .video-icon-top{
        background: white;
    height: 42px;
    width: 54px;
    z-index: 10000;
    position: absolute;
    border-radius: 18px 0 14px 0;
    transform: translate(82px, 84px);
    display: flex;
    align-items: center;
    justify-content: center;
    &--editor{
        @extend .video-icon-top;
        transform: translate(163px, 174px);
    }
    }
    .box {
        position: relative;
        border-radius: 18px;
        padding: 0;
        font-size: 150%;
        box-shadow: 0px 5px 7px 7px rgba(0, 0, 0, 0.1);
        background-size:cover;
        border: 2px solid #e4fdff;
        overflow: hidden;
        cursor: pointer;

        &_wide{
            @extend .box;
            background-size: fit;
        }
        transition: transform 300ms ease-in-out;
        &.subway{

            background-image: url('../../assets/img/grid/subway_surfers.png');
            border: 2px solid #ffde2a;
            &  .title-wrapper {
                top:0;
                left: 0;
                position: absolute;
                z-index: 9998;
                opacity: 0;
                background: linear-gradient(0deg, rgba(255,255,255,0) 39%, rgba(0,0,0,0.19931722689075626) 62%, rgba(0,0,0,0.6474964985994398) 100%); 
                height: 100%;
                width: 100%;
                text-align:center;
                -webkit-user-select: none; /* Safari */        
                -moz-user-select: none; /* Firefox */
                -ms-user-select: none; /* IE10+/Edge */
                user-select: none; /* Standard */
                .title{
                    opacity: 0;
                    font-family: futura-pt-bold, sans-serif;
                }
                
            }

            .hide{
                opacity: 0;
                transition: 0.3s ease-in-out 0.3s;
            }

             .title-wrapper:hover{
                 opacity: 1;
                 z-index: 99999;
                 transition: 0.1s ease-in-out;
     
                 .title{
                     opacity: 1;
                     transition: 0.2s ease-in-out;
                     font-size:16px;
                     &__small{
                         @extend .title;
                         padding-top:5px;
                         line-height: 97%;
                         font-size: 16px;
                     }
                 }
     
             }


            .video-play{
                position: relative;
                opacity: 0;
                left: 0px;
                top: 0px;
                min-height: 100%;
                min-width: 100%;
                z-index: 9997;
                transition :0.3s  ease-in-out 0.3s ;
            }
        }
    }
    &.video-wrap{
        position: relative;
        overflow: hidden;
    }

    .box:hover{
        transform: scale(1.05);
        
    }

    

    .editor{

    background-image: linear-gradient(to top, #ffd35d, #fff7b2);
    border: none !important;
    font-size: 25px;
    box-shadow: 0px 5px 7px 7px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #e4fdff;
    
        .editor-container{
            display: flex;
            justify-content: center;
            align-items: center;

            &--2x2{
                @extend .editor-container;
                margin-top: 32px;

            
            }
        }
    }

    .image-wrapper{
        border: 2px solid #ffde2a;
        border-radius: 18px;
        box-shadow: 0px 5px 7px 7px rgba(0, 0, 0, 0.1);
        overflow: hidden; /* required */
        width:100px;
        height:100px;
        margin: 0!important;
        padding: 0!important;
        &:hover{
            transform: scale(1.02);
        }
        .overlay{
            position: absolute;
            opacity: 0;
            border-radius:18px;
            background: linear-gradient(0deg, rgba(255,255,255,0) 39%, rgba(0,0,0,0.19931722689075626) 62%, rgba(0,0,0,0.6474964985994398) 100%); 
            width: 100px;
            z-index: 9999;
            text-align:center;
            -webkit-user-select: none; /* Safari */        
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* IE10+/Edge */
            user-select: none; /* Standard */
            .title{
                opacity: 0;
                font-family: futura-pt-bold, sans-serif;
            }
          
        }
        .overlay:hover{
            opacity: 1;
            transition: 0.1s linear;
      
            .title{
                opacity: 1;
                transition: 0.2s linear;
                font-size:16px;
                &__small{
                    @extend .title;
                    padding-top:5px;
                    line-height: 97%;
                    font-size: 16px;
                }
            }
        }
        

      
    }

 
    .choice-text{

        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        color: #ba5d0e;
        font-family: futura-pt-bold, sans-serif;
        font-weight: 700;
        font-style: normal;
        letter-spacing: 2px;
        font-size:30px;

        &_medium{

            @extend .choice-text;
            padding: 35px 0;

        }
        &_small{
            @extend .choice-text;
            padding: 0 0;
            font-size: 25px;
            height: 20px;
            margin-top: 18px;
        }
        &--2x2{

            @extend .choice-text;
            letter-spacing: normal;
            font-size: 20px;
            padding-top: 18.5px;
        

        }

    }

    .label{

        position: absolute;
        transform: translate(190px, -53px);
        height: 58px;

        &_2{
            @extend .label;
            transform: translate(225px, -54px);
        }
        &--3x3{
            @extend .label;
            transform: translate(128px, -138px);
        }
        &--2x3{
            @extend .label;
            transform: translate(215px, -60px) scale(0.8);
        }
        &--2x2{
            @extend .label;
            transform: translate(69px, -77.5px);
        }
    }
        
    @media only screen and (min-width: 1500px) {
        width: 1300px;
    }
    @media only screen and (max-width: 1501px) and (min-width: 1400px){
        width: 1180px;
    }
    @media only screen and (max-width: 1401px) and (min-width: 1280px){
        width: 1060px;
    }
    @media only screen and (max-width: 1281px) and (min-width: 1160px){
        width: 940px;
    }
    @media only screen and (max-width: 1161px) and (min-width: 1040px){
        width: 820px;
    }
    @media only screen and (max-width: 1041px) and (min-width: 920px){
        width: 700px;
    }
    @media only screen and (max-width: 921px) {
        width: 580px;
    }

    .editor-special{

        background-image: linear-gradient(to top, #ffd35d, #fff7b2);
        border: none !important;
        font-size: 25px;
        box-shadow: 0px 5px 7px 7px rgba(0, 0, 0, 0.1);
        border-radius: 18px;
        overflow: hidden;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #e4fdff;

        &--2x3{
            @extend .editor;
            padding: 0;
            padding-top: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        .editor-container{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top:34px;
            
            &--3x3{
                @extend .editor-container;
                font-size:25px;
                transition: transform 200ms ease-in-out;
                &:hover{
                    transform: scale(1.02);
                }

                .img-container{
                    position: relative;
                    width: 220px;
                    overflow: hidden;
                    height: 220px;
                    border-radius: 18px;
                    box-shadow: 0px 5px 7px 7px rgba(0, 0, 0, 0.1);
                    border: 2px solid #ffde2a;
                }
                .overlay{
                    position: absolute;
                    opacity: 0;
                    border-radius:18px;
                    background: linear-gradient(0deg, rgba(255,255,255,0) 39%, rgba(0,0,0,0.19931722689075626) 62%, rgba(0,0,0,0.6474964985994398) 100%); 
                    height: 100%;
                    z-index: 9999;
                    width: 220px;
                    text-align:center;
                    -webkit-user-select: none; /* Safari */        
                    -moz-user-select: none; /* Firefox */
                    -ms-user-select: none; /* IE10+/Edge */
                    user-select: none; /* Standard */
                    .title{
                        opacity: 0;
                        font-family: futura-pt-bold, sans-serif;
                    }
                  
                }
                .overlay:hover + .img-container .video-icon-top--editor {
                    opacity: 0;
                    transition :0.3s  ease-in-out 0.3s ;
                  }
                .overlay:hover{
                    opacity: 1;
                    transition: 0.1s linear;
              
                    .title{
                        opacity: 1;
                        transition: 0.2s linear;
                        font-size:16px;
                        &__small{
                            @extend .title;
                            padding-top:5px;
                            line-height: 97%;
                            font-size: 16px;
                        }
                    }
                }
   
                .video-play-editor{
                    position: relative;
                    opacity: 0;
                    left: 0px;
                    top: 0px;
                    transform: translate(-58px, -218px);
                    min-height: 100%;
                    min-width: 100%;
                    z-index: 9997;
                    transition :0.3s  ease-in-out 0.3s ;
                }
                
            }

            &--2x3{
                @extend .editor-container;
                margin-top: 3px;
                font-size:25px;
                transition: transform 200ms ease-in-out;
                &:hover{
                    transform: scale(1.02);
                }
                .overlay{
                    position: absolute;
                    opacity: 0;
                    border-radius:18px;
                    background: linear-gradient(0deg, rgba(255,255,255,0) 39%, rgba(0,0,0,0.19931722689075626) 62%, rgba(0,0,0,0.6474964985994398) 100%); 
                    height: 100%;
                    width: 87%;
                    text-align:center;
                    -webkit-user-select: none; /* Safari */        
                    -moz-user-select: none; /* Firefox */
                    -ms-user-select: none; /* IE10+/Edge */
                    user-select: none; /* Standard */
                    .title{
                        opacity: 0;
                        font-family: futura-pt-bold, sans-serif;
                    }
                  
                }
                
                .overlay:hover{
                    opacity: 1;
                    transition: 0.1s linear;
                    .title{
                        opacity: 1;
                        transition: 0.2s linear;
                        font-size:16px;
                        &__small{
                            @extend .title;
                            padding-top:5px;
                            line-height: 97%;
                            font-size: 16px;
                        }
                    }
                }
            }

        }
    }
    
}

