<div class="user-text">
    <p class="seo-section-title">    
        Kiloo Play ApS Privacy Policy and Cookie Policy
    </p>    
    <p class="seo-section-sub-title">
              Last updated: 28th of February, 2019  
    </p>


    <p class="seo-section-text">
    This Privacy Policy explains how your personal data is collected and processed by Kiloo Play ApS (“Kiloo Play”) when you use the web game platform www.Kiloo.com (the “Website”).
    
    Furthermore, the Cookie Policy explains what cookies are and how we use them on the Website.
    
    The Website is a free to play web platform. In order to maintain the high quality and a great game experience we process information from and about you in particular to improve the entire experience on the Website and to support internal operations.
    
    We update this Privacy Policy and Cookie Policy from time to time. If we make changes, we will notify you by revising the date at the top of the policy and, depending on the specific changes, we will provide you with additional notice or require a renewed consent. We encourage you to review the Privacy Policy and Cookie Policy whenever you access the Website to stay informed about how we process your personal data, use cookies and how you can protect your privacy.
    </p>
    <p class="seo-section-title">
    Collection of information
    </p>
    <p class="seo-section-text">
    Information we collect automatically through the Website using cookies
    
    When you access or use the Website, we automatically collect general information about you using cookies (see more information on the cookies used below) as we log information about your use of the Website, including the type of device you use, your consent to the processing of data, the features you use, access times, type of browser, subpages viewed on our Website, your IP address and the page you visited before navigating to the Website.
    </p>
    <p class="seo-section-title">
    USE OF INFORMATION – PURPOSE AND LEGAL BASIS
    </p>
    <p class="seo-section-text">
    We use information about you for the following purposes in accordance with the legal bases for each type of personal data as described below:
    
    Log information
    

    </p>
    <ul>
        <li>a. to provide and deliver the products and services you request and send you related information as requested by you / as agreed with you;</li>
        <li>    b. to provide and maintain the Website and the game experience; and</li>
        <li>
            c. to send you technical notices, updates, security alerts, and support and administrative messages;

        </li>
        <li>    d. to provide news and information about the Website that we think will be of interest to you;
        </li>
        <li>    e. to personalize and improve the Website and provide tailored content and features; and
        </li>
        <li>        Our processing for the above purposes is necessary for the performance of a contract to which you are party in order to support the operation of the Website and the games therein, facilitate the delivery of requested products and services and enable maintenance and update of the Website and the games therein, see Article 6(1)(b) of the GDPR.
            - are being processed:</li>
        <li>    f. to monitor and analyze trends, usage and activities in connection with the Website.
        </li>
        <li>    g. to provide users that have given us consent to share technical information such as IP address, device id or browser information with our ad network partners (as further specified under Sharing of Information) for the purpose of serving them with personalized advertisement on the Website (behavioral advertising).
        </li>
    </ul>
    <p class="seo-section-text">

    Our processing for the above purposes is justified by our legitimate interests in providing advertisements and content of interest to you and improving our services in accordance with Article 6(1)(f) of the GDPR (also known as "the balancing-of-interest rule").
    </p>
    <p class="seo-section-text">
    Our processing for the above purpose is justified by our legitimate interests in providing advertisements and content of interest to you in accordance with Article 6(1)(f) of the GDPR. The disclosure of technical information to third parties for the purposes of behavioral advertising is based on your consent in accordance with Article 6(1)(a) of the GDPR and the fact that the disclosure is necessary for the performance of a contract to which you are party in accordance with Article 6(1)(b) of the GDPR (see more below under Sharing of Information).
    We only process your information to the extent that is necessary to achieve the purposes for which the information has been collected.
    </p>
    <p class="seo-section-title">
    STORAGE OF INFORMATION
    </p>
    <p class="seo-section-text">
    Kiloo Play will store your personal data for as long as necessary in order to provide you with the Website or otherwise fulfil the purposes as described above, unless further storage is required in order to establish, exercise or defend a legal claim or to comply with applicable law, including accounting rules.
    
    Your personal data are deleted or anonymized as soon as it no longer serves one of the above-mentioned purposes and in any event no later than 14 months after your interaction with Kiloo Play has ceased.
    </p>
    <p class="seo-section-title">
        SHARING OF INFORMATION
    </p>
    <p class="seo-section-text">
    We disclose information about you to the following categories of recipients based on the legal bases in Sections 6(1)(b), 6(1)(c) and 6(1)(f) of the GDPR (see a description of the legal bases above):
    </p>
    <ul>
        <li>     Social networks, see more under "Social Sharing features";
        </li>
        <li>    Facebook, Twitter, Youtube and Vimeo for the purpose of guiding the webpage visitor to social networks that have more information regarding Kiloo Play;
        </li>
        <li>     Third parties if we are required to disclose your personal data by applicable law,rule, regulation, legal process or in connection with, or during negotiations of, any merger, sale of company assets, financing or acquisition of all or a portion of our business by another company;
        </li>
        <li>     The authorities if we believe your actions are inconsistent with the spirit or language of our policies or if the disclosure is necessary to protect the rights, property and safety of Kiloo Play or others;
        </li>
    </ul>
    <p class="seo-section-text">
    Furthermore, if you have given your consent in accordance with Section 6(1)(a) of the GDPR, we share technical information in the form of location data, type of operation system, browser type, plugins, CPU, GDPU, battery, local and public IP address, service provider, download speed and login status on Social Media platforms with advertising network companies for the purpose of them serving behavioral advertisements to you on the Website. The advertising network companies use third party cookies (see more information on the cookies used below). We use or may use any or all of the following advertising network companies listed in the consent manager.
    The recipients' use of the disclosed information will not be covered by this Privacy Policy. If you have questions concerning the processing carried out by such third parties, you should review their privacy policy.
    
    In connection with our processing, we use data processors such as server hosting providers, technical service providers for supporting internal operations, user login services and analytics service providers.
    </p>
    <p class="seo-section-title">
    SOCIAL SHARING FEATURES
    </p>
    <p class="seo-section-text">
    The Website offers social sharing features and other integrated tools (such as the Facebook “Like” button), which let you share actions you take on the Website with other media. You must be over the minimum age limit that is prescribed by the legislation in the individual jurisdictions to use any social sharing features integrated on the Website. The use of such features enables the sharing of information with your friends or the public, depending on the settings you establish with the entity that provides the social sharing feature.
    
    The Website has social features from the following providers:
    </p>
    <ul>
        <li>Facebook</li>
        <li>Twitter</li>
        <li>YouTube</li>
        <li>Vimeo</li>
    </ul>
    <p class="seo-section-text">
        For more information about the processing carried out by the respective third parties in connection with social sharing features, please visit the privacy policies of the entities that provide these features, which can be found here:
    </p>
    <ul>
        <li>Facebook: https://www.facebook.com/about/privacy/</li>
        <li>Twitter: https://twitter.com/en/privacy</li>
        <li>YouTube: https://policies.google.com/privacy?hl=en</li>
        <li>Vimeo: https://vimeo.com/features/video-privacy</li>
    </ul>


    <p class="section-seo-title">
        CHILDREN
    </p>
    <p class="seo-section-text">
        If personal data on children (as this term is construed under GDPR in EU, COPPA in the US and relevant applicable legislation in other jurisdictions) under the minimum age limit that is prescribed by the legislation in the individual jurisdictions have been processed without Kiloo Play's knowledge, Kiloo Play will, after having become aware of the incident, immediately take reasonable measures to stop such processing and promptly delete any such data from Kiloo Play’s records.

    </p>
    <p class="seo-section-text">
        If you have additional questions about Kiloo Play’s privacy practices related to children under the applicable minimum age, please contact us at support@kilooplay.com.
    </p>
    <p class="seo-section-title">
            TRANSFER TO THIRD COUNTRIES

    </p>
    <p class="seo-section-text">
    In connection with the processing, we will in certain circumstances transfer your personal data to recipients in the U.S which has been declared an unsafe third country by the European Commission.
    
    We only transfer personal data to entities in third countries that have provided appropriate safeguards to ensure that their level of data protection is in agreement with this privacy policy and applicable law.
    </p>
    <p class="seo-section-text">
    Consequently, the transfers will only occur based on the following safeguards:
    </p>
    <ul>
        <li>     If the entity is certified to comply with the principles for data protection under the US-EU Privacy Shield Framework ("Privacy Shield") (you can view the entities certified under Privacy Shield at www.privacyshield.gov), or
        </li>
        <li>     If we have entered into standard data protection clauses adopted by the Commission with the entity, which is deemed to offer sufficient safeguards with respect to the protection of the privacy and fundamental rights and freedoms of individuals (you can obtain a copy of the clauses by contacting Kiloo Play).
        </li>
    </ul>
    <p class="seo-section-title">

    SECURITY
    </p>
    <p class="seo-section-text">

    Kiloo Play takes reasonable measures to help protect information about you from loss, theft, misuse and unauthorized access, disclosure, alteration and destruction.
    </p>
    <p class="seo-section-title">

    YOUR RIGHTS
    </p>
    <p class="seo-section-text">
    If you wish to use any of the rights described below, you may contact us at any time by emailing us at support@kilooplay.com.
    </p>
    <p class="seo-section-text">
    We process and answer your requests without undue delay and in any event within one month of our receipt of the request unless a longer period is required due to the complexity of the request. In this case, our response time can be up to three months in total as permitted by Article 12 of the GDPR.
    </p>
    <p class="seo-section-title">
    RIGHT TO REQUEST ACCESS
    </p>
    <p class="seo-section-text">
    You have the right to request access into the data that we are processing on you, see Article 15 of the GDPR, including information about:
    </p>
    <ul>
        <li>the purposes of the processing</li>
        <li>the categories of personal data concerned</li>
        <li>the recipients or categories of recipient to whom the personal data have been or will be disclosed</li>
        <li>the envisaged period for which the personal data will be stored</li>
    </ul>
    <p class="seo-section-text">
    Furthermore, you have the right to obtain a copy of the personal data undergoing processing. Please note that the access may be restricted due to intellectual property or trade secrets.
    </p>
    <p class="seo-section-title">
        THE RIGHT TO OBJECT
    </p>
    <p class="seo-section-text">

    You have the right to object to our processing of your personal data on grounds relating to your particular situation when the data are processed based on the balancing-of- interest rule in Section 6(1)(f) of the GDPR, see Article 21 of the GDPR. In this case, we will cease the processing unless there are compelling legitimate grounds for the processing which override your interests, rights and freedoms or if the processing is necessary for the establishment, exercise or defense of legal claims.
    
    You have the right to object to our processing of your personal data for direct marketing purposes at any time. We will cease the processing of your personal data for this purpose after the objection. Please note that if you exercise this right, your user license play the games on the Website will cease automatically.
    </p>
    <p class="seo-section-title">

    RIGHT TO RECTIFICATION AND ERASURE
    </p>
    <p class="seo-section-text">

    You have the right to have inaccurate personal data rectified, see Article 16 of the GDPR.
    </p>
    <p class="seo-section-text">

    Furthermore, you have the right to have your personal data erased where one of the following grounds applies, see Article 17 of the GDPR:
    </p>
    <ul>
        <li>the personal data are no longer necessary in relation to the purposes for which they were collected or otherwise processed,</li>
        <li>if you have withdrawn your consent and there are no other legal grounds for the processing,</li>
        <li>if you have objected to the processing and there are no overriding legitimate grounds for the processing,</li>
        <li>the personal data have to be erased for compliance with a legal obligation in Union or Member State law,</li>
        <li>the personal data have been unlawfully processed or</li>
        <li>the personal data have been collected in relation to the offer of information society services.</li>
    </ul>
    <p class="seo-section-text">

    Please note that your right to erasure may be limited if the data are necessary for compliance with a legal obligation or for the establishment, exercise or defense of legal claims.
    </p>
    <p class="seo-section-title">

    THE RIGHT TO RESTRICTION
    </p>

    <p class="seo-section-text">

    You have the right to obtain restriction of processing in certain circumstances, see Article 18 of the GDPR. If you have the right to restriction, we will only process your data with your consent or for the establishment, exercise or defense of a legal claim or to protect a person or important grounds of public interest
    </p>
    <p class="seo-section-title">

    THE RIGHT TO WITHDRAW CONSENT
    </p>
    <p class="seo-section-text">

    If we have asked for your consent to our processing of your data, you have the right to withdraw your consent at any time, see Article 7 of the GDPR.
    </p>
    <p class="seo-section-text">
    If you withdraw your consent, we will cease processing of the data for which you have withdrawn consent, unless we have a legal obligation to keep some or parts of your data.
    </p>
    <p class="seo-section-text">
    Please note that if you withdraw your consent, your user license to play the games on the Website will cease automatically.
    </p>
    <p class="seo-section-text">
    The withdrawal of your consent does not affect the lawfulness of processing based on your consent before its withdrawal.
    </p>
    <p class="seo-section-title">
    THE RIGHT TO DATA PORTABILITY
    </p>
    <p class="seo-section-text">
    You have the right to receive the personal data you have provided us with which we process in a structured, commonly used and machine-readable format and have the right to transmit those data to another controller if the processing is based on consent or contract performance, see Article 20 of the GDPR.
    </p>
    <p class="seo-section-title">
    COOKIE POLICY
    </p>
    <p class="seo-section-text">
    Like many websites, we use cookies on www.kiloo.com to collect information.
    </p>
    <p class="seo-section-text">
    A cookie is a small data file that is transferred to your device’s hard disk e.g. for the purpose of recognizing it, remembering settings and making statistics. Cookies are designed not to be used to run programs or deliver viruses to your computer. Cookies are uniquely assigned to you and can only be read by a web server in the domain that issued the cookie to you.
    </p>
    <p class="seo-section-text">
    We use cookies to log information about your use of the Website to facilitate and optimize the use of the Website, to promote the Website and for traffic measurement. See “Information we collect automatically through the Website using cookies” for information on what we log.
    </p>
    <p class="seo-section-text">
    Cookies do not typically contain any information that personally identifies a user, but personal information that we store about you may be linked to the information stored in and obtained from cookies. Please read the Privacy Policy above for more information on how we handle personal information about you.
    </p>
    <p class="seo-section-text">
    We only store permanent cookies for 3 months after which we will aks for your renewed consent to store cookies containing information about you and/or your use of the website. Session cookies are deleted once you close your browser.
    </p>
    <p class="seo-section-title">
    WHICH COOKIES ARE USED?
    </p>
    <p class="seo-section-text">
    We use first party cookies from the Website itself in order to facilitate and optimize the use of the Website and for traffic measurement. These cookies are persistent cookies.
    </p>
    <p class="seo-section-text">
    We also use third party cookies from the following third parties to facilitate, optimize and measure traffic, provide advertisments and promote the Website:
    <br>
    - Google Analytics to facilitate, optimize and measure traffic. Google Analytics uses both persistent and session cookies <br>
    - We may use the following advertising network listed in the consent manager to provide advertisments. The advertising networks may both use persistent and session cookies. For further information refer to each advertising network listed in the consent manager. <br>
    - Facebook, Twitter, YouTube and Vimeo for promoting the Website. The cookies may be either persistent or session cookies. <br>
    - Game content providers for the purpose of analytics, internal operations and the on-going development of the games. For futher information refer to each provider listed in the consent manager <br>
    </p>
    <p class="seo-section-title">
    HOW TO DELETE AND AVOID COOKIES
    </p>
    <p class="seo-section-text">
    You can always choose to opt-out of cookie or disable them entirely on your device via plugins or from your browser settings. Alternatively, you can set your device to alert you when cookies are being sent to your device; however, disabling cookies may affect your ability to use our Services.
    <br>
    Guidance on how to delete cookies on Microsoft Internet Explorer>
    <br>
    Guidance on how to delete cookies on Mozilla Firefox
    <br>
    Guidance on how to delete cookies on Google Chrome
    <br>
    Guidance on how to delete cookies on Opera
    <br>
    Guidance on how to delete cookies on Safari
    <br>
    Guidance on how to delete flash cookies (all browsers)
    <br>
    It is also possible to deactivate cookie through a consent tool such as http://www.youronlinechoices.com/uk/your-ad-choices (serviced by EDAA).
    </p>
    <p class="seo-section-title">
    CONTACT AND COMPLAINTS
    </p>
    <p class="seo-section-text">
    <br>
    Kiloo Play has the following contact information:
    <br>
    Kiloo Play ApS<br>
    Address: Bülowsgade 68,<br>
    8000 Aarhus C, Denmark<br>
    E-mail: support@kilooplay.com<br>
    You can always contact Kiloo if you have questions about the processing of your personal data, the cookie policy, or if you have any requests in regard to your rights under the GDPR.
    </p>
    
</div>
