<div class="hot-container">
    <h1 class="category_title">hot games</h1>
    <div class="game-container" >
        <div gdGap="20px" gdColumns="repeat(9, 100px)" gdRows="repeat(3,100px)">
            <div class="box game-container--hot1" gdColumn="auto / span 2"></div>
            <div class="box game-container--hot2"></div>
            <div class="box game-container--hot3"></div>
            <div class="box game-container--hot4"></div>
            <div class="box game-container--hot5" gdColumn="auto / span 2"></div>
            <div class="box game-container--hot6"></div>
            <div class="box game-container--hot7"></div>
            <div class="box game-container--hot8"></div>
            <div class="box game-container--hot9"></div>
            <div class="box game-container--hot10" gdColumn="auto / span 2"></div>
            <div class="box game-container--hot11"></div>
            <div class="box game-container--hot12" gdColumn="auto / span 2"></div>
            <div class="box game-container--hot13"></div>
            <div class="box game-container--hot14"></div>
            <div class="box game-container--hot15"></div>
            <div class="box game-container--hot16" gdColumn="auto / span 2"></div>
            <div class="box game-container--hot17"></div>
        </div>
    </div>
</div>